<h2 id='needMainHeader'>Needs</h2>
<mat-dialog-content class='mat-typography'>
    <h3 id='needsHeader'>Add a new Category</h3>
    <div class='formFieldContainer'>
        <mat-form-field id='formField'>
            <mat-label>Title</mat-label>
            <input matInput type="text" maxlength='30' [(ngModel)]='needsTitle' name='needsTitle'>
        </mat-form-field>
        <mat-form-field id='formField2'>
            <mat-label>Budget Amount</mat-label>
            <input matInput type="number" [(ngModel)]='needsAmount' name='needsAmount'>
        </mat-form-field>
        <button mat-stroked-button *ngIf='needs.length < 6; else needsButton' (click)='addNewNeed()'>Add</button>
        <ng-template #needsButton>
            <button mat-stroked-button disabled>Add</button>
        </ng-template>
    </div>
    <h4>Existing Needs</h4>
    <mat-list id='needListContainer'>
        <mat-list-item *ngIf="needs.length === 0; else needList">
            <h4 mat-line>No Categories</h4>
        </mat-list-item>
        <mat-list-item #needList *ngFor='let n of needs; let index = index;' class='needListItemContainer' style='height: auto;'>
            <div class='needListItem'>
                <div class='needTitleContainer'>
                    <mat-icon mat-list-icon (click)='deleteNeed(n)'>cancel</mat-icon>
                    <input class='needListTitle' type='text' maxlength='30' [(ngModel)]=needs[index].title value={{n.title}}>
                </div>
                <div class='needAmountContainer'>
                    <span class="needListAmountLabel">$</span>
                    <input class='needListAmount' type='number' [(ngModel)]=needs[index].amount placeholder={{n.amount}}>
                </div>
            </div>   
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="needs">Cancel</button>
    <button mat-button [mat-dialog-close]="needs" (click)='saveNeeds()' cdkFocusInitial>Save</button>
  </mat-dialog-actions>
