<div class='goalHeading'>
    <input id='goalName' type='text' [(ngModel)]='goalName'>
    <div id='dateContainer'>
        <span class='dateLabel'>Date Created: &nbsp;</span>
        <span class='date'>{{createdDate}}</span><br>
        <div *ngIf='completedDate != null'>
            <span class='dateLabel'>Date Completed: &nbsp;</span>
            <span class='date'>{{completedDate}}</span>
        </div>
    </div>
</div>
<div class='goalSubheading'>
    <div id='goalContainer'>
        <span class='goalLabel'>Goal: &nbsp;</span>
        <span class='goalAmount'>{{goalGoal | currency}}</span><br>
        <span class='goalLabel'>Saved: &nbsp;</span>
        <span class='goalAmount'>{{goalSaved | currency}}</span><br>
        <div *ngIf='goalGoal - goalSaved > 0'>
            <span class='goalLabel'>Remaning: &nbsp;</span>
            <span class='goalAmount'>{{goalGoal - goalSaved | currency}}</span>
        </div>
    </div>
    <div>
        <mat-progress-bar *ngIf='progressValue < 100; else completedProgress' id="goalProgressBar" mode="buffer" [value]='progressValue'></mat-progress-bar>
        <ng-template #completedProgress>
            <mat-progress-bar id='goalProgressBar' mode='indeterminate'></mat-progress-bar>
        </ng-template>
    </div>
    <div id='goalPercentContainer'>
        <span id="goalPercent">{{progressValue}}%</span>
    </div>
</div>
<mat-divider></mat-divider>
<div class='depositContainer'>
    <div class='depositInputContainer'>
        <div>
            <mat-form-field id='depositInput'>
                <mat-label>Add to Goal</mat-label>
                <input matInput type="number" placeholder="$0.00" [(ngModel)]='depositAmt' name='depositAmt'>
            </mat-form-field>
            <button mat-stroked-button *ngIf='depositAmt == null; else checkNegative' disabled>Deposit</button>
            <ng-template #checkNegative>
                <button mat-stroked-button *ngIf='depositAmt < 0; else regularButton' disabled>Deposit</button>
            </ng-template>
            <ng-template #regularButton>
                <button mat-stroked-button (click)='addDeposit()'>Deposit</button>
            </ng-template>
        </div>
    </div>
</div>
<div id='deleteContainer'>
    <button mat-flat-button color='warn' id='deleteButton' [mat-dialog-close]='true' (click)='deleteGoal()'>Delete</button>
    <div id='otherButtons'>
        <button mat-button [mat-dialog-close]="false">Cancel</button>
        <button mat-button [mat-dialog-close]="false" (click)='save()' cdkFocusInitial>Save</button>
    </div>
</div>
