<h2 id='wantMainHeader'>Wants</h2>
<mat-dialog-content class='mat-typography'>
    <h3 id='wantsHeader'>Add a new Category</h3>
    <div class='formFieldContainer'>
        <mat-form-field id='formField'>
            <mat-label>Title</mat-label>
            <input matInput type="text" [(ngModel)]='wantsTitle' name='wantsTitle'>
        </mat-form-field>
        <mat-form-field id='formField2'>
            <mat-label>Budget Amount</mat-label>
            <input matInput type="number" [(ngModel)]='wantsAmount' name='wantsAmount'>
        </mat-form-field>
        <button mat-stroked-button *ngIf='wants.length < 6; else wantButton' (click)='addNewWant()'>Add</button>
        <ng-template #wantButton>
            <button mat-stroked-button disabled>Add</button>
        </ng-template>
    </div>
    <h4>Existing Wants</h4>
    <mat-list id='wantListContainer'>
        <mat-list-item *ngIf="wants.length === 0; else wantList">
            <h4 mat-line>No Categories</h4>
        </mat-list-item>
        <mat-list-item #wantList *ngFor='let w of wants; let index = index;' class='wantListItemContainer' style='height: auto;'>
            <div class='wantListItem'>
                <div class='wantTitleContainer'>
                    <mat-icon mat-list-icon (click)='deleteWant(w)'>cancel</mat-icon>
                    <input class='wantListTitle' type='text' [(ngModel)]=wants[index].title value={{w.title}}>
                </div>
                <div class='wantAmountContainer'>
                    <span class="wantListAmountLabel">$</span>
                    <input class='wantListAmount' type='number' [(ngModel)]=wants[index].amount placeholder={{w.amount}}>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)='saveWants()' cdkFocusInitial>Save</button>
</mat-dialog-actions>

