#wantHeader{
    font-weight: 300;
}
#formField{
    width: 20em;
    margin-right: 1em;
}
#formField2{
    width: 10em;
    margin-right: 2em;
}
.wantListTitle{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 22pt;
    font-weight: 200;
    width: 10em;
    border: none;
}
.wantListAmount{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20pt;
    width: 5em;
    border: none;
}
.wantListAmount::placeholder{
    opacity: 0.25;
}
#wantListContainer{
    height: 15em;
    overflow-y: auto;
}
.wantListAmountLabel{
    font-size: 20pt;
}