<div class='headerContainer'>
    <div class='headingContainer'>
        <h1>Financial Goals</h1>
    </div>
    <div></div>
</div>
<mat-divider></mat-divider>
<mat-card class='goalCard'>
    <mat-tab-group mat-align-tabs='center' [(selectedIndex)]='tabIndex'>
        <mat-tab label='All'>
            <mat-grid-list cols='1' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class='goalListContainer'>
                        <mat-grid-list cols={{getGridCols()}} rowHeight='18em' *ngIf="goals.length > 0; else noGoals">
                            <mat-grid-tile *ngFor='let g of goals'>
                                <mat-card class='goalItem'*ngIf="g.saved / g.goal < 1; else completedGoal" (click)='openDetailedGoal(g)'>
                                    <div id='goalItemTitleContainer'>
                                        <p id='goalItemTitle'>{{g.name}}</p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <p id='goalItemPercent' >{{g.saved / g.goal | percent}}</p>
                                </mat-card>
                                <ng-template #completedGoal>
                                    <mat-card class='goalItemComplete' (click)='openDetailedGoal(g)'>
                                        <div id='goalItemTitleContainer'>
                                            <p id='goalItemTitle'>{{g.name}}</p>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <p id='goalItemPercent' >{{g.saved / g.goal | percent}}</p>
                                    </mat-card>
                                </ng-template>    
                            </mat-grid-tile>
                        </mat-grid-list>
                        <ng-template #noGoals>
                            <mat-grid-list cols='1' rowHeight='32em'>
                                <mat-grid-tile>
                                    No Goals Found
                                </mat-grid-tile>
                            </mat-grid-list>
                        </ng-template>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label='In-Progress'>
            <mat-grid-list cols='1' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class='goalListContainer'>
                        <mat-grid-list cols={{getGridCols()}} rowHeight='18em' *ngIf='progressGoals.length > 0; else noProgress'>
                            <mat-grid-tile *ngFor='let g of progressGoals'>
                                <mat-card class='goalItem' (click)='openDetailedGoal(g)'>
                                    <div id='goalItemTitleContainer'>
                                        <p id='goalItemTitle'>{{g.name}}</p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <p id='goalItemPercent' >{{g.saved / g.goal | percent}}</p>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <ng-template #noProgress>
                            <mat-grid-list cols='1' rowHeight='32em'>
                                <mat-grid-tile>
                                    No In-Progress Goals Found
                                </mat-grid-tile>
                            </mat-grid-list>
                        </ng-template>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label='Completed'>
            <mat-grid-list cols='1' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class='goalListContainer'>
                        <mat-grid-list cols={{getGridCols()}} rowHeight='18em' *ngIf='completedGoals.length > 0; else noCompleted'>
                            <mat-grid-tile *ngFor='let g of completedGoals'>
                                <mat-card class='goalItemComplete' (click)='openDetailedGoal(g)'>
                                    <div id='goalItemTitleContainer'>
                                        <p id='goalItemTitle'>{{g.name}}</p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <p id='goalItemPercent'>{{g.saved / g.goal | percent}}</p>
                                </mat-card>    
                            </mat-grid-tile>
                        </mat-grid-list>
                        <ng-template #noCompleted>
                            <mat-grid-list cols='1' rowHeight='32em'>
                                <mat-grid-tile>
                                    No Completed Goals Found
                                </mat-grid-tile>
                            </mat-grid-list>
                        </ng-template>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label='+ New Goal'>
            <mat-grid-list cols='1' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class='newGoalContainer'>
                        <mat-grid-list cols='1' rowHeight='33em'>
                            <mat-grid-tile>
                                <mat-card class='createGoalCard'>
                                    <div class='createHeading'>
                                        <h2>Create a Goal</h2>
                                        <span id='todayDate'>{{todaysDate}}</span>
                                    </div>
                                    <div>
                                        <mat-form-field class='formField'>
                                            <mat-label>Goal Title</mat-label>
                                            <input matInput type="text" [(ngModel)]='newGoalName' name='newGoalName' required>
                                        </mat-form-field><br>
                                        <mat-form-field class='formField'>
                                            <mat-label>Target</mat-label>
                                            <input matInput type="number" [(ngModel)]='newGoalGoal' name='newGoalGoal' required>
                                        </mat-form-field><br>
                                        <mat-form-field class='formField'>
                                            <mat-label>Saved (Optional)</mat-label>
                                            <input matInput type="number" [(ngModel)]='newGoalSaved' name='newGoalSaved'>
                                        </mat-form-field>
                                    </div>
                                    <button mat-stroked-button id='formButton' (click)='createGoal()'>Create</button>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<div style="height: 8em"></div>