.longTermContainer{
    height: 10em;
    position: relative;
}
#goalProgressBar{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.goalCard{
    margin: 2em;
    height: 40em;
}
.goalItem{
    color: #6E6E6E;
    background-color: #CAE8FC;
    width: 14em;
    height: 14em;
    text-align: center;
    cursor: pointer;
}
.goalItemComplete{
    color: #6E6E6E;
    background-color: #BEFFA8;
    width: 14em;
    height: 14em;
    text-align: center;
    cursor: pointer;
}
#goalItemTitle{
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 20pt;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#goalItemTitleContainer{
    height: 3em;
    width: 14em;
    overflow-y: auto;
    -ms-overflow-style: none;
    position: relative;
    margin-bottom: 1em;
}
#goalItemTitleContainer::-webkit-scrollbar{
    display: none;
}
#goalItemPercent{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 38pt;
    font-weight: 200;
}
.goalListContainer{
    margin: 1em;
    height: 33em;
    width: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.newGoalContainer{
    margin: 1em;
    height: 33em;
    width: 100%;
    overflow-y: auto;
}
.createGoalCard{
    width: 30em;
    height: 30em;
}
.formField{
    width: 100%;
    font-size: 16pt;
    margin-bottom: 1.5em;
}
.formField:last-child{
    margin-bottom: 2.5em;
}
#formButton{
    width: 100%;
}
.createHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
#todayDate{
    font-size: 16pt;
    font-weight: 200;
}
.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    background: rgb(177,177,177);
    background: linear-gradient(90deg, rgba(177,177,177,1) 0%, rgba(255,255,255,1) 100%);
}
.headingContainer{
    margin-left: 8em;
}
@media(max-width: 1020px){
    .goalItem{
        width: 10em;
        height: 12em;
    }
    .goalItemComplete{
        width: 10em;
        height: 12em;
    }
    #goalItemTitleContainer{
        width: 10em;
    }
}
@media(max-width: 800px){
    .goalItem{
        width: 8em;
    }
    .goalItemComplete{
        width: 8em;
    }
    #goalItemTitleContainer{
        width: 8em;
    }
    .headingContainer{
        margin-left: 5em;
    }
}
@media(max-width: 672px){
    .createGoalCard{
        width: 100%;
        height: 100%;
    }
}
@media(max-width: 500px){
    .createHeading{
        flex-direction: column;
        margin-bottom: 1em;
    }
    .formField:last-child{
        margin-bottom: 1em;
    }
}
@media(max-width: 350px){
    .formField{
        font-size: 12pt;
        text-align: center;
    }
    .formField:last-child{
        margin-bottom: 6em;
    }
    .headingContainer{
        margin-left: 1em;
    }
}
@media(max-width: 310px){
    .createHeading > h2{
        font-size: 14pt;
    }
    #todayDate{
        font-size: 12pt;
    }
}