<mat-grid-list cols="4" rowHeight="75px">
    <mat-grid-tile rowspan='2'>
        <h1>Financial Goals</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan='3'></mat-grid-tile>
    <mat-grid-tile colspan='3'></mat-grid-tile>
  </mat-grid-list>
<mat-divider></mat-divider>
<!--<mat-grid-list cols='1' rowHeight='45em'>
    <mat-grid-tile>
        <mat-card class="goalCard">
            How much I have saved
            How much I want to save
            How long it would take to reach the goal at this rate

            Progress Bar initial implementation
            <div class="longTermContainer">
                <mat-grid-list cols="5" rowHeight="10em">
                    <mat-grid-tile>
                        <label>Goal Information</label>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="3">
                        <mat-progress-bar id="goalProgressBar" mode="buffer" [value]='progressValue'></mat-progress-bar>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <label>Goal Percentage</label>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>-->
<mat-card class='goalCard'>
    <mat-tab-group mat-align-tabs='center'>
        <mat-tab label='All'>
            <mat-grid-list cols='1' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class='goalListContainer'>
                        <mat-grid-list cols='3' rowHeight='18em'>
                            <mat-grid-tile *ngFor='let g of goals'>
                                <mat-card class='goalItem'*ngIf="g.saved / g.goal < 1; else completedGoal" (click)='openDetailedGoal(g)'>
                                    <div id='goalItemTitleContainer'>
                                        <p id='goalItemTitle'>{{g.name}}</p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <p id='goalItemPercent' >{{g.saved / g.goal | percent}}</p>
                                </mat-card>
                                <ng-template #completedGoal>
                                    <mat-card class='goalItemComplete' (click)='openDetailedGoal(g)'>
                                        <div id='goalItemTitleContainer'>
                                            <p id='goalItemTitle'>{{g.name}}</p>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <p id='goalItemPercent' >{{g.saved / g.goal | percent}}</p>
                                    </mat-card>
                                </ng-template>    
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label='In-Progress'>
            <mat-grid-list cols='1' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class='goalListContainer'>
                        <mat-grid-list cols='3' rowHeight='18em'>
                            <mat-grid-tile *ngFor='let g of progressGoals'>
                                <mat-card class='goalItem' (click)='openDetailedGoal(g)'>
                                    <div id='goalItemTitleContainer'>
                                        <p id='goalItemTitle'>{{g.name}}</p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <p id='goalItemPercent' >{{g.saved / g.goal | percent}}</p>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label='Completed'>
            <mat-grid-list cols='1' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class='goalListContainer'>
                        <mat-grid-list cols='3' rowHeight='18em'>
                            <mat-grid-tile *ngFor='let g of completedGoals'>
                                <mat-card class='goalItemComplete' (click)='openDetailedGoal(g)'>
                                    <div id='goalItemTitleContainer'>
                                        <p id='goalItemTitle'>{{g.name}}</p>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <p id='goalItemPercent'>{{g.saved / g.goal | percent}}</p>
                                </mat-card>    
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<div style="height: 8em"></div>