<mat-toolbar color="primary">
  <div class='NavHeader'>
    <button mat-icon-button (click)='sidenav.toggle()'>
      <mat-icon>menu</mat-icon>
    </button>
    <label>Penny Pinchers</label>
  </div>
  <span style='flex: 1 1 auto'></span>
  <div class='NavButtons'>
    <button mat-button [matMenuTriggerFor]='menu'>User</button>
  </div>
</mat-toolbar>
<mat-menu #menu='matMenu'>
  <button mat-menu-item (click)='sidenav.toggle()'>DashBoard</button>
  <button mat-menu-item (click)='redirectToLogin()'>Logout</button>
</mat-menu>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode='over'>
    <div class="sideNavContainer">
      <div class="sideNavButtons">
        <button mat-button (click)='redirectToHome(); sidenav.toggle()'>Home</button>
        <button mat-button (click)='redirectToGoals(); sidenav.toggle()'>Goals</button>
        <button mat-button>Edit</button>
        <button mat-button>Archive</button>
        <button mat-button>Button 5</button>
      </div>
      <div class="sideNavFooter">
        <p>Designed by Andrew Ngo 2020 &copy;</p>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
