<mat-toolbar color="primary">
  <div class='NavHeader'>
    <button mat-icon-button (click)='sidenav.toggle()'>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 style="cursor: default; display: inline;">Penny Pinchers</h1>
  </div>
  <span style='flex: 1 1 auto'></span>
  <div class='NavButtons'>
    <button mat-button [matMenuTriggerFor]='menu' *ngIf="checkRes(); else icon">{{username}}</button>
    <ng-template #icon>
      <mat-icon id='accountIcon' [matMenuTriggerFor]='menu' *ngIf='username != ""'>account_circle</mat-icon>
    </ng-template>
    <button mat-button *ngIf='username === ""' (click)='redirectToLogin()'>Login</button>
    <button mat-button *ngIf='username === ""' (click)='redirectToRegister()'>Sign Up</button>
  </div>
</mat-toolbar>
<mat-menu #menu='matMenu'>
  <button mat-menu-item (click)='logout()'>Logout</button>
</mat-menu>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode='over'>
    <div class="sideNavContainer">
      <div class="sideNavButtons">
        <button mat-button (click)='redirectToHome(); sidenav.toggle()' *ngIf='username != ""; else disabledHomeButton'>DashBoard</button>
        <ng-template #disabledHomeButton>
          <button mat-button disabled>DashBoard</button>
        </ng-template>
        <button mat-button (click)='redirectToGoals(); sidenav.toggle()' *ngIf='username != ""; else disabledGoalsButton'>Goals</button>
        <ng-template #disabledGoalsButton>
          <button mat-button disabled>Goals</button>
        </ng-template>
        <button mat-button (click)='redirectToArchive(); sidenav.toggle()' *ngIf='username != ""; else disabledArchiveButton'>Archive</button>
        <ng-template #disabledArchiveButton>
          <button mat-button disabled>Archive</button>
        </ng-template>
        <button mat-button (click)='redirectToSettings(); sidenav.toggle()' *ngIf='username != ""; else disabledSettingsButton'>Settings</button>
        <ng-template #disabledSettingsButton>
          <button mat-button disabled>Settings</button>
        </ng-template>
      </div>
      <div class="sideNavFooter">
        <p>Designed by Andrew Ngo 2020 &copy;</p>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
