<mat-horizontal-stepper class='initialContent'>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Basic Information</ng-template>
        <h2>Personal Information</h2>
        <form>
            <mat-form-field class='formField'>
                <mat-label>First Name</mat-label>
                <input matInput type="text" [(ngModel)]='firstName' name='firstName' required>
            </mat-form-field><br>
            <mat-form-field class='formField'>
                <mat-label>Last Name</mat-label>
                <input matInput type="text" [(ngModel)]='lastName' name='lastName' required>
            </mat-form-field><br>
            <mat-form-field class='formField2'>
                <mat-label>Phone Number</mat-label>
                <input matInput type="tel" [(ngModel)]='phoneNumber' name='phoneNumber' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000">
            </mat-form-field><br>
            <h2>Income</h2>
            <div class='incomeContainer'>
                <div *ngFor="let income of incomes; let index = index;">
                    <h3 *ngIf='index == 0; else additionalHeader' mat-subheader>Main Income</h3>
                    <ng-template #additionalHeader>
                        <h3 mat-subheader>Additional Income</h3>
                    </ng-template>
                    <mat-form-field class='formField'>
                        <mat-label>Income</mat-label>
                        <input matInput type="number" [(ngModel)]='income.income' name='incomeAmt' placeholder="$0.00" required>
                    </mat-form-field>
                    <mat-form-field class='formField2' style='margin-left: 2em'>
                        <mat-label>Frequency</mat-label>
                        <mat-select required [(value)]='income.frequency'>
                            <mat-option>---</mat-option>
                            <mat-option value='one-time'>one-time</mat-option>
                            <mat-option value='per hour'>hourly</mat-option>
                            <mat-option value='per week'>weekly</mat-option>
                            <mat-option value='bi-weekly'>bi-weekly</mat-option>
                            <mat-option value='per month'>per month</mat-option>
                            <mat-option value='per year'>per year</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field id='hourField' *ngIf='income.frequency === "per hour"'>
                        <mat-label>Avg Hours per Week</mat-label>
                        <input matInput type="number" [(ngModel)]='income.hoursWeekly' name='hoursPerWeek' placeholder="40" required>
                    </mat-form-field><br>
                    <div class='incomeSecondRow'>
                        <mat-form-field class='formField'>
                            <mat-label>Income Type</mat-label>
                            <mat-select required [(value)]='income.type'>
                                <mat-option>---</mat-option>
                                <mat-option value='Part-Time'>Part-Time</mat-option>
                                <mat-option value='Full-Time'>Full-Time</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-stroked-button style='margin-left: 1em' (click)="addIncomeSource()">Add additional income</button>
                        <mat-icon *ngIf="incomes.length > 1 && index > 0" mat-list-icon style="margin-left: 10px" (click)='deleteIncome(income)'>delete</mat-icon>
                        <br>
                    </div>
                </div>
            </div>
        </form>
        <div style='height: 2em'></div>
        <mat-divider></mat-divider>
        <div style='height: 1em'></div>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Budget Information</ng-template>
        <form>
            <h2>Financial Goal</h2>
            <mat-form-field class='formField'>
                <mat-label>Goal</mat-label>
                <input matInput type="number" [(ngModel)]="goal" name='goal' placeholder="$0.00">
            </mat-form-field><br>
        </form>
        <h2>Budget</h2>
        <mat-slide-toggle color='primary' (change)=onToggle($event)>Custom Budget</mat-slide-toggle>
        <form>
            <div class='categoryHeading'>
                <p>Needs</p>
                <mat-form-field class='smallFormField'>
                    <input matInput *ngIf='!custom; else enabled;' type="number"  placeholder="50%" readonly>
                    <ng-template #enabled>
                        <input matInput type="number" [(ngModel)]='needPercentage' placeholder="50%" name='needPercentage' required>
                    </ng-template>
                </mat-form-field>
            </div>
            <h3 mat-subheader class='categorySubheading'>Add a Category (up to 6)</h3>
            <mat-form-field class='formField'>
                <mat-label>Category Title</mat-label>
                <input matInput type="text" [(ngModel)]='needTitle' name='needTitle'>
            </mat-form-field>
            <mat-form-field class='formField2' style='margin-left: 1em'>
                <mat-label>Budget Amount</mat-label>
                <input matInput type="number" placeholder="$0.00" [(ngModel)]='needAmt' name='needAmt'>
            </mat-form-field>
            <button mat-stroked-button *ngIf="needs.length < 6; else needButton"style='margin-left: 2em' (click)='addNeedCategory();'>Add</button><br>
            <ng-template #needButton>
                <button mat-stroked-button style='margin-left: 2em' disabled>Add</button>
            </ng-template>
            <mat-list class="categoryList">
                <h3 mat-subheader> Need Categories (Rent, Utilities, Food,...)</h3>
                <mat-list-item *ngIf="needs.length === 0; else normalNeed">
                    <h4 mat-line>No Categories</h4>
                </mat-list-item>
                <mat-list-item #normalNeed *ngFor='let c of needs'>
                    <div class='needListItem'>
                        <mat-icon mat-list-icon (click)='deleteCategory(c)'>cancel</mat-icon>
                        <p class='listItemTitle'>{{c.title}}</p>
                        <p class='listItemAmount'>{{c.amount | currency}}</p>
                    </div>
                </mat-list-item>
            </mat-list>
            <div class='categoryHeading'>
                <p>Wants</p>
                <mat-form-field class='smallFormField'>
                    <input matInput type="number" *ngIf="!custom; else enabledWant;" placeholder="30%" readonly>
                    <ng-template #enabledWant>
                        <input matInput type="number" [(ngModel)]='wantPercentage' name='wantPercentage' placeholder="30%" required>
                    </ng-template>
                </mat-form-field>
            </div>
            <h3 mat-subheader class='categorySubheading'>Add a Category (up to 6)</h3>
            <mat-form-field class='formField'>
                <mat-label>Category Title</mat-label>
                <input matInput type="text" [(ngModel)]='wantTitle' name='wantTitle'>
            </mat-form-field>
            <mat-form-field class='formField2' style='margin-left: 1em'>
                <mat-label>Budget Amount</mat-label>
                <input matInput type="number" placeholder="$0.00" [(ngModel)]='wantAmt' name='wantAmt'>
            </mat-form-field>
            <button mat-stroked-button *ngIf="wants.length < 6; else wantButton"style='margin-left: 2em' (click)='addWantCategory();'>Add</button><br>
            <ng-template #wantButton>
                <button mat-stroked-button style='margin-left: 2em' disabled>Add</button>
            </ng-template>
            <mat-list class="categoryList">
                <h3 mat-subheader> Want Categories (Entertainment, Vacation, Shopping,...)</h3>
                <mat-list-item *ngIf="wants.length === 0; else normalWant">
                    <h4 mat-line>No Categories</h4>
                </mat-list-item>
                <mat-list-item #normalWant *ngFor='let c of wants'>
                    <div class='needListItem'>
                        <mat-icon mat-list-icon (click)='deleteWantCategory(c)'>cancel</mat-icon>
                        <p class='listItemTitle'>{{c.title}}</p>
                        <p class='listItemAmount'>{{c.amount | currency}}</p>
                    </div>
                </mat-list-item>
            </mat-list>
            <div class='categoryHeading'>
                <p>Saving</p>
                <mat-form-field class='smallFormField'>
                    <input matInput type="number" *ngIf="!custom; else enabledSaving;" placeholder="20%" readonly>
                    <ng-template #enabledSaving>
                        <input matInput type="number" [(ngModel)]='savingPercentage' name='savingPercentage' placeholder="20%" required>
                    </ng-template>
                </mat-form-field>
            </div>
            <h3 mat-subheader class='categorySubheading'>Add a Category (up to 6)</h3>
            <mat-form-field class='formField'>
                <mat-label>Category Title</mat-label>
                <input matInput type="text" [(ngModel)]='savingTitle' name='savingTitle'>
            </mat-form-field>
            <mat-form-field class='formField2' style='margin-left: 1em'>
                <mat-label>Budget Amount</mat-label>
                <input matInput type="number" placeholder="$0.00" [(ngModel)]='savingAmt' name='savingAmt'>
            </mat-form-field>
            <button mat-stroked-button *ngIf="savings.length < 6; else savingButton"style='margin-left: 2em' (click)='addSavingCategory();'>Add</button><br>
            <ng-template #savingButton>
                <button mat-stroked-button style='margin-left: 2em' disabled>Add</button>
            </ng-template>
            <mat-list class="categoryList">
                <h3 mat-subheader> Saving Categories (Financial Goals,...)</h3>
                <mat-list-item *ngIf="savings.length === 0; else normalSaving">
                    <h4 mat-line>No Categories</h4>
                </mat-list-item>
                <mat-list-item #normalSaving *ngFor='let c of savings'>
                    <div class='needListItem'>
                        <mat-icon mat-list-icon (click)='deleteSavingCategory(c)'>cancel</mat-icon>
                        <p class='listItemTitle'>{{c.title}}</p>
                        <p class='listItemAmount'>{{c.amount | currency}}</p>
                    </div>
                </mat-list-item>
            </mat-list>    
        </form>
        <div style='height: 2em;'></div>
        <mat-divider></mat-divider>
        <div style='height: 1em'></div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Expense Information</ng-template>
        <h2>Expenses</h2>
        <div class='categoryExpenseContainer'>
            <div class='categoryExpense'>
                <div class='categoryHeading'>
                    <p>Needs</p>
                </div>
                <div class='categorySubheadingContainer'>
                    <h3 mat-subheader class='categorySubheading'>Categories</h3>
                </div>
                <mat-list class='categoryList2'>
                    <h3 mat-subheader>Input the Cost of Each Category</h3>
                    <mat-list-item *ngIf="needs.length === 0; else expenseNeeds">
                        <h4 mat-line>No Categories</h4>
                    </mat-list-item>
                    <mat-list-item #expenseNeeds *ngFor="let c of needsExpense; let index = index;">
                        <div class='needListItem'>
                            <input class='expenseListItemTitle' type="text" [(ngModel)]="needsExpense[index].title">
                            <p class="expenseListItemAmountLabel">$</p>
                            <input type="number" class='expenseListItemAmount' [(ngModel)]="needsExpense[index].amount" placeholder={{needs[index].amount}}>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class='categoryExpense'>
                <div class='categoryHeading'>
                    <p>Wants</p>
                </div>
                <div class='categorySubheadingContainer'>
                    <h3 mat-subheader class='categorySubheading'>Categories</h3>
                </div>
                <mat-list class='categoryList2'>
                    <h3 mat-subheader>Input the Cost of Each Category</h3>
                    <mat-list-item *ngIf="wants.length === 0; else expenseWants">
                        <h4 mat-line>No Categories</h4>
                    </mat-list-item>
                    <mat-list-item #expenseWants *ngFor="let c of wantsExpense; let index = index;">
                        <div class='needListItem'>
                            <input class='expenseListItemTitle' type="text" [(ngModel)]="wantsExpense[index].title" >
                            <p class="expenseListItemAmountLabel">$</p>
                            <input type="number" class='expenseListItemAmount' [(ngModel)]="wantsExpense[index].amount" placeholder={{wants[index].amount}}>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class='categoryExpense'>
                <div class='categoryHeading'>
                    <p>Saving</p>
                </div>
                <div class='categorySubheadingContainer'>
                    <h3 mat-subheader class='categorySubheading'>Categories</h3>
                </div>
                <mat-list class='categoryList2'>
                    <h3 mat-subheader>Input the Cost of Each Category</h3>
                    <mat-list-item *ngIf="savings.length === 0; else expenseSaving">
                        <h4 mat-line>No Categories</h4>
                    </mat-list-item>
                    <mat-list-item #expenseSaving *ngFor="let c of savingExpense; let index = index;">
                        <div class='needListItem'>
                            <input class='expenseListItemTitle' type="text" [(ngModel)]="savingExpense[index].title" >
                            <p class="expenseListItemAmountLabel">$</p>
                            <input type="number" class='expenseListItemAmount' [(ngModel)]="savingExpense[index].amount" placeholder={{savings[index].amount}}>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <form>
            <h3 mat-subheader style='padding: 0'>Add an Uncategorized Expense</h3>
                <mat-form-field class='formField'>
                    <mat-label>Title</mat-label>
                    <input matInput type="text" [(ngModel)]='expenseTitle' name='expenseTitle'>
                </mat-form-field>
                <mat-form-field class='formField2' style='margin-left: 1em'>
                    <mat-label>Expense</mat-label>
                    <input matInput type="number" placeholder="$0.00" [(ngModel)]='expenseAmt' name='expenseAmt'>
                </mat-form-field>
                <button mat-stroked-button style='margin-left: 2em' *ngIf='expenses.length < 6; else expenseButton' (click)='addExpense();'>Add</button><br>
                <ng-template #expenseButton>
                    <button mat-stroked-button style='margin-left: 2em' disabled>Add</button>
                </ng-template>
                <mat-list class="expenseList">
                    <h3 mat-subheader>Uncategorized Expenses</h3>
                    <mat-list-item *ngIf="expenses.length === 0; else normalList">
                        <h4 mat-line>No Expenses</h4>
                    </mat-list-item>
                    <mat-list-item #normalList *ngFor='let expense of expenses' class="expenseContainer">
                        <h4 mat-line id='expenseTitle'>{{expense.title}}</h4>
                        <p mat-line id='expenseAmt'>{{expense.amount | currency}}</p>
                        <mat-icon mat-list-icon (click)='deleteExpense(expense)'>cancel</mat-icon>
                    </mat-list-item>
                </mat-list>
        </form>
        <div style='height: 2em'></div>
        <mat-divider></mat-divider>
        <div style='height: 1em'></div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
        <ng-template matStepLabel>Review and Confirm</ng-template>
        <h3>Personal Information</h3>
        <label class='reviewLabel'>First Name</label>
        <input class='reviewContent' readonly value={{firstName}}>
        <label class='reviewLabel'>Last Name</label>
        <input class='reviewContent' readonly value={{lastName}}><br>
        <label class='reviewLabel'>Phone Number</label>
        <input class='reviewContent' readonly value={{phoneNumber}}>
        <div style='height: 2em'></div>
        <div *ngFor="let income of incomes">
            <label class='reviewLabel'>Income</label>
            <input class='reviewContent' readonly value={{income.income|currency}}>
            <label class='reviewLabel'>Frequency</label>
            <input class='reviewContent' readonly value={{income.frequency}}><br>
            <label class='reviewLabel'>Income Type</label>
            <input class='reviewContent' readonly value={{income.type}}><br>
            <label class='reviewLabel'>Calculated Monthly Income</label>
            <input class='reviewContent' readonly value={{calculateMonthlyIncome()|currency}}>
        </div>
        <div style='height: 2em'></div>
        <mat-divider></mat-divider>
        <h3>Budget</h3>
        <label class='reviewLabel'>Goal</label>
        <input class='reviewContent' readonly value={{goal|currency}}>
        <div style='height: 2em'></div>
        <div class='reviewCategories'>
            <div>
                <div class='reviewHeaderContainer'>
                    <p class='reviewHeader'>Need</p>
                    <p class='reviewCategory' style='margin-left: 0.5em;'>{{needPercentage}}</p>
                    <p class='reviewCategory' style='font-weight:500;'>%</p>
                </div>
                <mat-list class='reviewList'>
                    <h3 mat-subheader style='padding: 0;'>Categories</h3>
                    <mat-list-item *ngIf="needs.length === 0; else reviewNeeds">
                        <h4 mat-line>No Categories</h4>
                    </mat-list-item>
                    <mat-list-item #reviewNeeds *ngFor='let c of needs'>
                        <div class='needListItem'>
                            <p class='listItemTitle'>{{c.title}}</p>
                            <p class='listItemAmount'>{{c.amount | currency}}</p>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div>
                <div class='reviewHeaderContainer'>
                    <p class='reviewHeader'>Want</p>
                    <p class='reviewCategory' style='margin-left: 0.5em;'>{{wantPercentage}}</p>
                    <p class='reviewCategory' style='font-weight:500;'>%</p>
                </div>
                <mat-list class='reviewList'>
                    <h3 mat-subheader>Categories</h3>
                    <mat-list-item *ngIf="wants.length === 0; else reviewWants">
                        <h4 mat-line>No Categories</h4>
                    </mat-list-item>
                    <mat-list-item #reviewWants *ngFor='let c of wants'>
                        <div class='needListItem'>
                            <p class='listItemTitle'>{{c.title}}</p>
                            <p class='listItemAmount'>{{c.amount | currency}}</p>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div>
                <div class='reviewHeaderContainer'>
                    <p class='reviewHeader'>Saving</p>
                    <p class='reviewCategory' style='margin-left: 0.5em;'>{{savingPercentage}}</p>
                    <p class='reviewCategory' style='font-weight:500;'>%</p>
                </div>
                <mat-list class='reviewList'>
                    <h3 mat-subheader>Categories</h3>
                    <mat-list-item *ngIf="savings.length === 0; else reviewSavings">
                        <h4 mat-line>No Categories</h4>
                    </mat-list-item>
                    <mat-list-item #reviewSavings *ngFor='let c of savings'>
                        <div class='needListItem'>
                            <p class='listItemTitle'>{{c.title}}</p>
                            <p class='listItemAmount'>{{c.amount | currency}}</p>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div style='height: 2em'></div>
        <mat-divider></mat-divider>
        <h3>Expenses</h3>
        <mat-list class="expenseList">
            <h3 mat-subheader>Uncategorized Expenses</h3>
            <mat-list-item *ngIf="expenses.length === 0; else normal">
                <h4 mat-line>No Expenses</h4>
            </mat-list-item>
            <mat-list-item #normal *ngFor='let expense of expenses' class="expenseContainer">
                <h4 mat-line id='expenseTitle'>{{expense.title}}</h4>
                <p mat-line id='expenseAmt'>{{expense.amount | currency}}</p>
                <mat-icon mat-list-icon style='font-size: 12pt'>fiber_manual_record</mat-icon>
            </mat-list-item>
        </mat-list>
        <div class='reviewCategories'>
            <div>
                <div class='reviewHeaderContainer'>
                    <p class='reviewHeader'>Needs</p>
                    <p class='reviewCategory' style='margin-left: 0.5em;'>{{needPercentage}}</p>
                    <p class='reviewCategory' style='font-weight:500;'>%</p>
                </div>
                <label class='reviewExpenseLabel'>Total</label>
                <input class='reviewContent' value={{calculateNeedExpenses()|currency}} readonly>
            </div>
            <div>
                <div class='reviewHeaderContainer'>
                    <p class='reviewHeader'>Wants</p>
                    <p class='reviewCategory' style='margin-left: 0.5em;'>{{wantPercentage}}</p>
                    <p class='reviewCategory' style='font-weight:500;'>%</p>
                </div>
                <label class='reviewExpenseLabel'>Total</label>
                <input class='reviewContent' value={{calculateWantExpenses()|currency}} readonly>
            </div>
        </div>
        <div class='reviewCategories'>
            <div>
                <div class='reviewHeaderContainer'>
                    <p class='reviewHeader'>Saving</p>
                    <p class='reviewCategory' style='margin-left: 0.5em;'>{{savingPercentage}}</p>
                    <p class='reviewCategory' style='font-weight:500;'>%</p>
                </div>
                <label class='reviewExpenseLabel'>Total</label>
                <input class='reviewContent' value={{calculateSavingExpenses()|currency}} readonly>
            </div>
            <div>
                <div class='reviewHeaderContainer'>
                    <p class='reviewHeader'>Uncategorized</p>
                </div>
                <label class='reviewExpenseLabel'>Total</label>
                <input class='reviewContent' value={{calculateUncategorizedExpenses()|currency}} readonly>
            </div>
        </div>
        <div style='height: 2em'></div>
        <mat-divider></mat-divider>
        <div style='height: 1em'></div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)='redirectToHome()'>Confirm</button>
    </mat-step>
</mat-horizontal-stepper>
