.initialContent{
    height: 55em;
    overflow-y: auto;
}
.expenseList{
    width: 40em;
    height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}
.formField{
    width: 20em;
}
.formField2{
    width: 10em;
}
.reviewLabel{
    margin-right: 1em;
}
.reviewContent{
    width: 15em;
    margin-right: 1em;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    text-align: center;
    font-size: 18pt;
}
.expenseContainer{
    margin: 1.5em;
    margin-right: 0;
}
#expenseTitle{
    font-size: 32pt;
}
#expenseAmt{
    font-size: 24pt;
}