.archiveCard{
    margin: 2em;
    height: 55em;
    width: 100%;
}
.yearSelect{
    margin-top: 2em;
    width: 20em;
}
.archiveContent{
    widtH: 96%;
    height: 43em;
}
#positiveTrend{
    font-size: 62pt;
    color: #AFFF64;
}
#negativeTrend{
    font-size: 62pt;
    color: #FF6464;
}
#noTrend{
    font-size: 62pt;
    color: #FFF864;
}
.archiveItem{
    width: 100%;
    height: 152px;
}
.budgetQuick{
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: 0.5em;
    font-size: 13pt;
}
.budgetPieChartCard{
    height: 90%;
    width: 90%;
    margin: 1em;
    margin-top: 2em;
}
.collapsedHeader{
    width: 300px;
    font-size: 24pt;
    font-weight: 200;
}
.collapsedDescription{
    width: 150px;
    font-size: 14pt;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapsedDescription2{
    width: 150px;
    font-size: 14pt;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapsedItem{
    width: 100%;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.expandedHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.expandedHeader h2{
    margin-right: 1em;
}
.expandedHeader mat-chip-list{
    margin-right: 1em;
}
#unallocatedHeading{
    font-size: 12pt;
}
#unallocatedAmt{
    font-size: 12pt;
    font-weight: 500;
}
.overviewBudgetListItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overviewBudgetListHeader{
    font-size: 22pt;
    font-weight: 200;
    width: 20em;
}
.overviewBudgetListDescription{
    font-size: 22pt;
    text-align: right;
    width: 8em;
}
.overviewBudgetContent{
    width: 100%;
    height: 490px;
    margin: 1em;
}
#budgetPieChart{
    width: 100%;
    height: 100%;
}
.expandedBudgetCard{
    height: 520px;
}
.expandedContent{
    height: 550px;
}
.expenseBarGraphCard{
    width: 95%;
    height: 90%;
}
#expenseList{
    padding: 0 1em 1em 1em;
    width: 95%;
    height: 95%;
    overflow-y: auto;
    -ms-overflow-style: none;
}
#expenseBarChart{
    width: 100%;
    height: 100%;
}
.goalList{
    padding: 1em;
    width: 65%;
    height: 90%;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.collapsedGoalHeading{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#collapsedGoalHeader{
    width: 15em;
}
#collapsedGoalDescription{
    width: 5em;
}
.goalDetail{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.goalLabel{
    font-size: 18pt;
}
.goalContent{
    font-size: 18pt;
    font-weight: 200;
}
#goalProgressBar{
    width: 25em;
}