<mat-grid-list cols="4" rowHeight="75px">
    <mat-grid-tile rowspan='2'>
        <h1>{{selectedYear}} Archive</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan='2'></mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="yearSelect">
            <mat-label>Year</mat-label>
            <mat-select required [(value)]="selectedYear">
                <mat-option *ngFor="let year of pastYears" [value]="year">{{year}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan='3'></mat-grid-tile>
  </mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols='1' rowHeight='61em'>
    <mat-grid-tile>
        <mat-card class="archiveCard">
            <mat-tab-group>
                <mat-tab label='Budget'>                                       
                    <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header collapsedHeight="152px" expandedHeight="152px">
                            <mat-panel-title>
                                <div class='archiveItem'>
                                    <mat-grid-list cols='12' rowHeight='75px'>
                                        <mat-grid-tile rowspan='2'>
                                            <div class='arrow'>
                                                <mat-icon *ngIf="budgetProfit > 0; else secondCheck" id='positiveTrend'>keyboard_arrow_up</mat-icon>
                                                <ng-template #secondCheck><mat-icon *ngIf="budgetProfit < 0; else thirdCheck" id='negativeTrend'>keyboard_arrow_down</mat-icon></ng-template>
                                                <ng-template #thirdCheck><mat-icon id='noTrend'>remove</mat-icon></ng-template>
                                            </div>
                                        </mat-grid-tile>
                                        <mat-grid-tile rowspan='2'>
                                            <h1>{{budgetProfit | currency}}</h1>
                                        </mat-grid-tile>
                                        <mat-grid-tile rowspan='1'>
                                            <h2>BUDG</h2>
                                        </mat-grid-tile>
                                        <mat-grid-tile><h2>IN</h2></mat-grid-tile>
                                        <mat-grid-tile><h2>OUT</h2></mat-grid-tile>
                                        <mat-grid-tile rowspan='2'>
                                            <h2>{{budgetMonth}}</h2>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan='6' rowspan='2'></mat-grid-tile>
                                        <mat-grid-tile><p class='budgetQuick'>{{budgetAmount | currency}}</p></mat-grid-tile>
                                        <mat-grid-tile><p class='budgetQuick'>{{budgetIncome | currency}}</p></mat-grid-tile>
                                        <mat-grid-tile><p class='budgetQuick'>{{budgetOut | currency}}</p></mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                        <!--Expanded Content-->
                        <mat-grid-list cols='2' rowHeight="500px">
                            <mat-grid-tile>
                                pie chart
                            </mat-grid-tile>
                            <mat-grid-tile>
                                pie chart list
                            </mat-grid-tile>
                        </mat-grid-list>
                        </mat-expansion-panel>
                      </mat-accordion>                                           
                </mat-tab>
                <mat-tab label='Expenses'>
                    <mat-accordion>
                        <mat-expansion-panel >
                            <mat-expansion-panel-header collapsedHeight="152px" expandedHeight="152px">
                                <mat-panel-title>
                                    <div class='archiveItem'>
                                        <mat-grid-list cols='12' rowHeight='75px'>
                                            <mat-grid-tile rowspan='2'>
                                                <div class='arrow'>
                                                    <mat-icon *ngIf='spendingProfit > 0; else secondCheck2' id='positiveTrend'>keyboard_arrow_up</mat-icon>
                                                    <ng-template #secondCheck2><mat-icon *ngIf='spendingProfit < 0; else thirdCheck2' id='negativeTrend'>keyboard_arrow_down</mat-icon></ng-template>
                                                    <ng-template #thirdCheck2><mat-icon id='noTrend'>remove</mat-icon></ng-template>
                                                </div>
                                            </mat-grid-tile>
                                            <mat-grid-tile rowspan='2'>
                                                <h1>{{spendingProfit | currency}}</h1>
                                            </mat-grid-tile>
                                            <mat-grid-tile rowspan='1'>
                                                <h2>BUDG</h2>
                                            </mat-grid-tile>
                                            <mat-grid-tile><h2>IN</h2></mat-grid-tile>
                                            <mat-grid-tile><h2>OUT</h2></mat-grid-tile>
                                            <mat-grid-tile rowspan='2'>
                                                <h2>{{spendingMonth}}</h2>
                                            </mat-grid-tile>
                                            <mat-grid-tile colspan='6' rowspan='2'></mat-grid-tile>
                                            <mat-grid-tile><p class='budgetQuick'>{{spendingAmount | currency}}</p></mat-grid-tile>
                                            <mat-grid-tile><p class='budgetQuick'>{{spendingIncome | currency}}</p></mat-grid-tile>
                                            <mat-grid-tile><p class='budgetQuick'>{{spendingOut | currency}}</p></mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- Expanded Content -->
                            <mat-grid-list cols='1' rowHeight='500px'>
                                <mat-grid-tile>
                                    bar graph
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-tab>
                <mat-tab label='Goals'>
                    <mat-accordion>
                        <mat-expansion-panel >
                            <mat-expansion-panel-header collapsedHeight="152px" expandedHeight="152px">
                                <mat-panel-title>
                                    <div class='archiveItem'>
                                        <mat-grid-list cols='12' rowHeight='75px'>
                                            <mat-grid-tile rowspan='2'>
                                                <div class='arrow'>
                                                    <mat-icon *ngIf='goalProfit > 0; else secondCheck3' id='positiveTrend'>keyboard_arrow_up</mat-icon>
                                                    <ng-template #secondCheck3><mat-icon *ngIf='goalProfit < 0; else thirdCheck3' id='negativeTrend'>keyboard_arrow_down</mat-icon></ng-template>
                                                    <ng-template #thirdCheck3><mat-icon id='noTrend'>remove</mat-icon></ng-template>
                                                </div>
                                            </mat-grid-tile>
                                            <mat-grid-tile rowspan='2'>
                                                <h1>{{goalProfit | currency}}</h1>
                                            </mat-grid-tile>
                                            <mat-grid-tile><h2>IN</h2></mat-grid-tile>
                                            <mat-grid-tile><h2>OUT</h2></mat-grid-tile>
                                            <mat-grid-tile><h2>GOAL</h2></mat-grid-tile>
                                            <mat-grid-tile><h2>GOAL%</h2></mat-grid-tile>
                                            <mat-grid-tile rowspan='2'>
                                                <h2>{{goalMonth}}</h2>
                                            </mat-grid-tile>
                                            <mat-grid-tile colspan='5' rowspan='2'></mat-grid-tile>
                                            <mat-grid-tile><p class='budgetQuick'>{{goalIncome | currency}}</p></mat-grid-tile>
                                            <mat-grid-tile><p class='budgetQuick'>{{goalOut | currency}}</p></mat-grid-tile>
                                            <mat-grid-tile><p class='budgetQuick'>{{goal | currency}}</p></mat-grid-tile>
                                            <mat-grid-tile><p class='budgetQuick'>{{goalPercentage | percent}}</p></mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- Expanded Content -->
                            <mat-grid-list cols='1' rowHeight='500px'>
                                <mat-grid-tile>
                                    graph to depict goal progress
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel>
                    </mat-accordion>       
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div style="height: 10em"></div>