<mat-grid-list cols="4" rowHeight="75px">
    <mat-grid-tile rowspan='2'>
        <h1>Archive</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan='3'></mat-grid-tile>
    <mat-grid-tile colspan='3'></mat-grid-tile>
  </mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols='1' rowHeight='61em'>
    <mat-grid-tile>
        <mat-card class="archiveCard">
            <mat-tab-group>
                <mat-tab *ngFor='let year of pastYears' [label]='year'>
                    <mat-grid-list cols="1" rowHeight='75px'>
                        <mat-grid-tile>
                            <mat-form-field class="monthSelect">
                                <mat-label>Month</mat-label>
                                <mat-select>
                                    <mat-option *ngFor='let month of months' [value]='month'>{{month}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols='1' rowHeight='46em'>
                        <mat-grid-tile>
                            <mat-card class="archiveContent">
                                Content
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div style="height: 10em"></div>