<div class='headerContainer'>
    <div class='header'>
        <h1>{{selectedYear}} Archive</h1>
    </div>
</div>
<mat-divider></mat-divider>
<mat-card class='archiveCard'>
    <mat-tab-group>
        <mat-tab label='Budget'>                                       
            <mat-accordion *ngIf='archiveBudget.length > 0; else noBudgets'>
                <mat-expansion-panel *ngFor='let archive of archiveBudget'>
                    <mat-expansion-panel-header collapsedHeight="152px" expandedHeight="152px">
                        <mat-panel-title>
                            <div class='collapsedArchiveItem'>
                                <div class='arrow'>
                                    <mat-icon *ngIf="getBudgetProfit(archive) > 0; else secondCheck" id='positiveTrend'>keyboard_arrow_up</mat-icon>
                                    <ng-template #secondCheck><mat-icon *ngIf="getBudgetProfit(archive) < 0; else thirdCheck" id='negativeTrend'>keyboard_arrow_down</mat-icon></ng-template>
                                    <ng-template #thirdCheck><mat-icon id='noTrend'>remove</mat-icon></ng-template>
                                </div>
                                <div class='profitContainer'>
                                    <h1>{{getBudgetProfit(archive) | currency}}</h1>
                                </div>
                                <div class='collapsedArchiveHeaderItem'>
                                    <h2>BUDG</h2>
                                    <p class='budgetQuick'>{{archive.monthlyIncome | currency}}</p>
                                </div>
                                <div class='collapsedArchiveHeaderItem'>
                                    <h2>ALLOC</h2>
                                    <p class='budgetQuick'>{{getBudgetAllocated(archive) | currency}}</p>
                                </div>
                                <div class='collapsedArchiveHeaderItem'>
                                    <h2>OUT</h2>
                                    <p class='budgetQuick'>{{getBudgetOut(archive) | currency}}</p>
                                </div>
                                <div class='monthContainer'>
                                    <h2>{{getBudgetMonth(archive)}}</h2>
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                <!--Expanded Content-->
                <div class='expandedContent'>
                    <mat-grid-list cols='1' rowHeight='550px'>
                        <mat-grid-tile>
                            <mat-card class='expandedBudgetCard'>
                                <mat-card class='budgetPieChartCard'>
                                    <canvas #budgetPieChart id='budgetPieChart' width="800px" height="500px"></canvas>
                                </mat-card>
                                <div class='overviewBudgetContent'>
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)='drawDetailedPie(archive, 0)' (closed)='drawOriginalPie(archive)' class='overviewBudgetContentContainer'>
                                            <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                <mat-panel-title>
                                                    <div class='collapsedItem'>
                                                        <div class='collapsedHeader'>
                                                            <span>Needs</span>
                                                        </div>
                                                        <div class='collapsedDescription'>
                                                            <span>{{archive.categories[0].percentage / 100 | percent}}</span>
                                                        </div>
                                                        <div class='collapsedDescription2'>
                                                            <span>{{archive.monthlyIncome * archive.categories[0].percentage / 100 | currency}}</span>
                                                        </div>
                                                    </div>   
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class='expandedHeader'>
                                                <h2>Categories</h2>
                                                <div class='unallocatedContainer'>
                                                    <span id='unallocatedHeading'>Unallocated: &nbsp;</span>
                                                    <span id='unallocatedAmt'>{{getUnallocated(archive, 0) | currency}}</span>
                                                </div>
                                            </div>
                                            <mat-list>
                                                <mat-list-item *ngFor='let c of archive.categories[0].items'>
                                                    <div class='overviewBudgetListItem'>
                                                        <div class='overviewBudgetListHeader'>
                                                            <span>{{c.title}}</span>
                                                        </div>
                                                        <div class='overviewBudgetListDescription'>
                                                            <span>{{c.amount | currency}}</span>
                                                        </div>
                                                    </div>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel (opened)='drawDetailedPie(archive, 1)' (closed)='drawOriginalPie(archive)' class='overviewBudgetContentContainer'>
                                            <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                <mat-panel-title>
                                                    <div class='collapsedItem'>
                                                        <div class='collapsedHeader'>
                                                            <span>Wants</span>
                                                        </div>
                                                        <div class='collapsedDescription'>
                                                            <span>{{archive.categories[1].percentage / 100 | percent}}</span>
                                                        </div>
                                                        <div class='collapsedDescription2'>
                                                            <span>{{archive.monthlyIncome * archive.categories[1].percentage / 100 | currency}}</span>
                                                        </div>
                                                    </div>   
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class='expandedHeader'>
                                                <h2>Categories</h2>
                                                <div class='unallocatedContainer'>
                                                    <span id='unallocatedHeading'>Unallocated: &nbsp;</span>
                                                    <span id='unallocatedAmt'>{{getUnallocated(archive, 1) | currency}}</span>
                                                </div>
                                            </div>                                            
                                            <mat-list class='overviewBudgetListItemContainer'>
                                                <mat-list-item *ngFor='let c of archive.categories[1].items'>
                                                    <div class='overviewBudgetListItem'>
                                                        <div class='overviewBudgetListHeader'>
                                                            <span>{{c.title}}</span>
                                                        </div>
                                                        <div class='overviewBudgetListDescription'>
                                                            <span>{{c.amount | currency}}</span>
                                                        </div>
                                                    </div>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel (opened)='drawDetailedPie(archive, 2)' (closed)='drawOriginalPie(archive)' class='overviewBudgetContentContainer'>
                                            <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                <mat-panel-title>
                                                    <div class='collapsedItem'>
                                                        <div class='collapsedHeader'>
                                                            <span>Saving</span>
                                                        </div>
                                                        <div class='collapsedDescription'>
                                                            <span>{{archive.categories[2].percentage / 100 | percent}}</span>
                                                        </div>
                                                        <div class='collapsedDescription2'>
                                                            <span>{{archive.monthlyIncome * archive.categories[2].percentage / 100 | currency}}</span>
                                                        </div>
                                                    </div>   
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class='expandedHeader'>
                                                <h2>Categories</h2>
                                                <div class='unallocatedContainer'>
                                                    <span id='unallocatedHeading'>Unallocated: &nbsp;</span>
                                                    <span id='unallocatedAmt'>{{getUnallocated(archive, 2) | currency}}</span>
                                                </div>
                                            </div>                                            
                                            <mat-list>
                                                <mat-list-item *ngFor='let c of archive.categories[2].items'>
                                                    <div class='overviewBudgetListItem'>
                                                        <div class='overviewBudgetListHeader'>
                                                            <span>{{c.title}}</span>
                                                        </div>
                                                        <div class='overviewBudgetListDescription'>
                                                            <span>{{c.amount | currency}}</span>
                                                        </div>
                                                    </div>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel *ngIf='archive.categories[3].items.length > 0'>
                                            <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                <mat-panel-title>
                                                    <div class='collapsedItem'>
                                                        <div class='collapsedHeader'>
                                                            <span>Uncategorized</span>
                                                        </div>
                                                        <div class='collapsedDescription'>
                                                            <span>{{archive.categories[3].percentage / 100 | percent}}</span>
                                                        </div>
                                                        <div class='collapsedDescription2'></div>
                                                    </div>   
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class='expandedHeader'>
                                                <h2>Categories</h2>
                                            </div>                                            
                                            <mat-list>
                                                <mat-list-item *ngFor='let c of archive.categories[3].items'>
                                                    <div class='overviewBudgetListItem'>
                                                        <div class='overviewBudgetListHeader'>
                                                            <span>{{c.title}}</span>
                                                        </div>
                                                        <div class='overviewBudgetListDescription'>
                                                            <span>{{c.amount | currency}}</span>
                                                        </div>
                                                    </div>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                </mat-expansion-panel>
            </mat-accordion>
            <ng-template #noBudgets>
                <mat-grid-list cols='1' rowHeight='36em'>
                    <mat-grid-tile>
                        No Budgets Found
                    </mat-grid-tile>
                </mat-grid-list>
            </ng-template>                          
        </mat-tab>
        <mat-tab label='Expenses'>
            <mat-accordion *ngIf='archiveExpense.length > 0; else noExpenses'>
                <mat-expansion-panel *ngFor='let archive of archiveExpense'>
                    <mat-expansion-panel-header collapsedHeight="152px" expandedHeight="152px">
                        <mat-panel-title>
                            <div class='collapsedArchiveItem'>
                                <div class='arrow'>
                                    <mat-icon *ngIf="getExpenseProfit(archive) > 0; else secondCheck" id='positiveTrend'>keyboard_arrow_up</mat-icon>
                                    <ng-template #secondCheck><mat-icon *ngIf="getExpenseProfit(archive) < 0; else thirdCheck" id='negativeTrend'>keyboard_arrow_down</mat-icon></ng-template>
                                    <ng-template #thirdCheck><mat-icon id='noTrend'>remove</mat-icon></ng-template>
                                </div>
                                <div class='profitContainer'>
                                    <h1>{{getExpenseProfit(archive) | currency}}</h1>
                                </div>
                                <div class='collapsedArchiveHeaderItem'>
                                    <h2>BUDG</h2>
                                    <p class='budgetQuick'>{{getExpenseBudget(archive) | currency}}</p>
                                </div>
                                <div class='collapsedArchiveHeaderItem'>
                                    <h2>ALLOC</h2>
                                    <p class='budgetQuick'>{{getExpenseAllocated(archive) | currency}}</p>
                                </div>
                                <div class='collapsedArchiveHeaderItem'>
                                    <h2>OUT</h2>
                                    <p class='budgetQuick'>{{getExpenseOut(archive) | currency}}</p>
                                </div>
                                <div class='monthContainer'>
                                    <h2>{{getExpenseMonth(archive)}}</h2>
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- Expanded Content -->
                    <div class='expandedContent'>
                        <mat-grid-list cols='1' rowHeight='550px'>
                            <mat-grid-tile>
                                <mat-card class='expandedExpenseCard'>
                                    <mat-card class='expenseBarGraphCard'>
                                        <canvas #expenseBarChart id='expenseBarChart' width="1400px" height="780px"></canvas>
                                    </mat-card>
                                    <div class='expenseList'>
                                        <mat-accordion>
                                            <mat-expansion-panel *ngFor='let c of archive.items' class='collapsedListItem; overviewBudgetContentContainer'>
                                                <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                    <mat-panel-title>
                                                        <div class='collapsedItem'>
                                                            <div class='collapsedExpenseHeader'>
                                                                <span>{{c.title}}</span>
                                                            </div>
                                                            <div class='collapsedExpenseDescription'>
                                                                <span id='expenseUsage'>Usage &nbsp;</span>
                                                                <span>{{c.used / c.budget | percent}}</span>
                                                            </div>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-list>
                                                    <mat-list-item>
                                                        <div class='overviewBudgetListItem'>
                                                            <div class='overviewBudgetListHeader'>
                                                                <span>Budget</span>
                                                            </div>
                                                            <div></div>
                                                            <div class='overviewBudgetListDescription'>
                                                                <span>{{c.budget | currency}}</span>
                                                            </div>
                                                        </div>
                                                    </mat-list-item>
                                                    <mat-list-item>
                                                        <div class='overviewBudgetListItem'>
                                                            <div class='overviewBudgetListHeader'>
                                                                <span>Used</span>
                                                            </div>
                                                            <div></div>
                                                            <div class='overviewBudgetListDescription'>
                                                                <span>{{c.used | currency}}</span>
                                                            </div>
                                                        </div>
                                                    </mat-list-item>
                                                </mat-list>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <ng-template #noExpenses>
                <mat-grid-list cols='1' rowHeight='36em'>
                    <mat-grid-tile>
                        No Expenses Found
                    </mat-grid-tile>
                </mat-grid-list>
            </ng-template>  
        </mat-tab>
        <mat-tab label='Goals'>
            <mat-accordion *ngIf='archiveGoal.length > 0; else noGoals'>
                <mat-expansion-panel *ngFor='let archive of archiveGoal'>
                    <mat-expansion-panel-header collapsedHeight="152px" expandedHeight="152px">
                        <mat-panel-title>
                            <div class='collapsedArchiveItem'>
                                <div class='arrow'>
                                    <mat-icon *ngIf="getGoalSaved(archive) > 0; else secondCheck" id='positiveTrend'>keyboard_arrow_up</mat-icon>
                                    <ng-template #secondCheck><mat-icon *ngIf="getGoalSaved(archive) < 0; else thirdCheck" id='negativeTrend'>keyboard_arrow_down</mat-icon></ng-template>
                                    <ng-template #thirdCheck><mat-icon id='noTrend'>remove</mat-icon></ng-template>
                                </div>
                                <div class='profitContainer'>
                                    <h1>{{getGoalSaved(archive) | currency}}</h1>
                                </div>
                                <div class='collapsedArchiveHeaderItem'>
                                    <h2>COMPL</h2>
                                    <p class='budgetQuick'>{{getCompleteGoals(archive)}}</p>
                                </div>
                                <div class='collapsedArchiveHeaderItem'>
                                    <h2>WIP</h2>
                                    <p class='budgetQuick'>{{getIncompleteGoals(archive)}}</p>
                                </div>
                                <div class='collapsedArchiveHeaderItem'>
                                    <h2>TOTAL</h2>
                                    <p class='budgetQuick'>{{getGoalTotal(archive)}}</p>
                                </div>
                                <div class='monthContainer'>
                                    <h2>{{getGoalMonth(archive)}}</h2>
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- Expanded Content -->
                    <mat-card class='expandedGoalCard'>
                        <mat-grid-list cols='1' rowHeight='520px'>
                            <mat-grid-tile>
                                <div class='goalList'>
                                    <mat-accordion>
                                        <mat-expansion-panel *ngFor='let g of archive.goals'>
                                            <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                <div class='collapsedGoalHeading'>
                                                    <div id='collapsedGoalHeader'>
                                                        <mat-panel-title>
                                                            {{g.name}}
                                                        </mat-panel-title>
                                                    </div>
                                                    <div id='collapsedGoalDescription'>
                                                        <mat-panel-description >
                                                            {{g.saved / g.goal | percent}}
                                                        </mat-panel-description>
                                                    </div>                        
                                                </div>
                                            </mat-expansion-panel-header>
                                            <div class='goalDetail'>
                                                <div class='goalDetailContainer'>
                                                    <span class='goalLabel'>Goal: &nbsp;</span>
                                                    <span class='goalContent'>{{g.goal | currency}}</span><br>
                                                    <span class='goalLabel'>Saved: &nbsp;</span>
                                                    <span class='goalContent'>{{g.saved | currency}}</span>
                                                </div>
                                                <div class='goalProgressBarContainer'>
                                                    <mat-progress-bar *ngIf='g.saved / g.goal < 1; else completedProgress' id="goalProgressBar" mode="buffer" [value]='g.saved/g.goal*100'></mat-progress-bar>
                                                    <ng-template #completedProgress>
                                                        <mat-progress-bar id='goalProgressBar' mode='indeterminate'></mat-progress-bar>
                                                    </ng-template>
                                                </div>
                                                <div class='goalDateContainer'>
                                                    <span class="goalLabel">Date Created: &nbsp;</span>
                                                    <span class='goalContent'>{{parseDate(g.created)}}</span><br>
                                                    <div *ngIf='g.completed != null' class='goalCompleted'> 
                                                        <span class='goalLabel'>Date Completed: &nbsp;</span>
                                                        <span class='goalContent'>{{parseDate(g.completed)}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
            <ng-template #noGoals>
                <mat-grid-list cols='1' rowHeight='36em'>
                    <mat-grid-tile>
                        No Goals Found
                    </mat-grid-tile>
                </mat-grid-list>
            </ng-template>         
        </mat-tab>
    </mat-tab-group>
</mat-card>
<div style="height: 8em"></div>