.archiveCard{
    margin: 2em;
    height: 55em;
    width: 100%;
    overflow-y: auto;
}
.yearSelect{
    margin-top: 2em;
    width: 20em;
}
.archiveContent{
    widtH: 96%;
    height: 43em;
}
#positiveTrend{
    font-size: 62pt;
    color: #AFFF64;
}
#negativeTrend{
    font-size: 62pt;
    color: #FF6464;
}
#noTrend{
    font-size: 62pt;
    color: #FFF864;
}
.archiveItem{
    /* Collapsed Size */ 
    width: 100%;
    height: 152px;
    /* Expanded Size */
    /*border: black 1px solid;
    height: 40em;*/
}
.budgetQuick{
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: 0.5em;
    font-size: 13pt;
}