.archiveCard{
    margin: 2em;
    height: 40em;
    overflow-y: auto;
}
.headerContainer{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(177,177,177);
    background: linear-gradient(90deg, rgba(177,177,177,1) 0%, rgba(255,255,255,1) 100%);
}
.header{
    margin-left: 8em;
}
.archiveContent{
    widtH: 96%;
    height: 43em;
}
#positiveTrend{
    font-size: 62pt;
    color: #AFFF64;
}
#negativeTrend{
    font-size: 62pt;
    color: #FF6464;
}
#noTrend{
    font-size: 62pt;
    color: #FFF864;
}
.collapsedArchiveItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 150px;
}
.arrow{
    margin-left: 2em;
    width: 5em;
}
.profitContainer{
    width: 10em;
    text-align: center;
}
.collapsedArchiveHeaderItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 10em;
}
.monthContainer{
    width: 10em;
    text-align: center;
}
.budgetQuick{
    font-size: 13pt;
}
.budgetPieChartCard{
    height: 90%;
    width: 844px;
    margin: 1em;
}
.collapsedHeader{
    width: 300px;
    font-size: 24pt;
    font-weight: 200;
}
.collapsedDescription{
    width: 150px;
    font-size: 14pt;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapsedDescription2{
    width: 150px;
    font-size: 14pt;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapsedExpenseHeader{
    width: 300px;
    font-size: 24pt;
    font-weight: 200;
}
.collapsedExpenseDescription{
    width: 150px;
    font-size: 14pt;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapsedItem{
    width: 100%;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.expandedHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.expandedHeader h2{
    margin-right: 1em;
}
.expandedHeader mat-chip-list{
    margin-right: 1em;
}
#unallocatedHeading{
    font-size: 12pt;
}
#unallocatedAmt{
    font-size: 12pt;
    font-weight: 500;
}
.overviewBudgetListItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overviewBudgetListHeader{
    font-size: 22pt;
    font-weight: 200;
    width: 20em;
}
.overviewBudgetListDescription{
    font-size: 22pt;
    text-align: right;
    width: 8em;
}
.overviewBudgetContent{
    width: 872px;
    height: 490px;
}
#budgetPieChart{
    width: 100%;
    height: 100%;
}
.expandedBudgetCard{
    width: 1700px;
    height: 500px;
    display: flex;
    flex-direction: row;
}
.expandedExpenseCard{
    width: 1700px;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
}
.expandedContent{
    height: 550px;
}
.expenseBarGraphCard{
    width: 50%;
    height: 470px;
}
.expenseList{
    padding: 0 1em 1em 1em;
    width: 50%;
    height: 490px;
    overflow-y: auto;
    -ms-overflow-style: none;
}
#expenseBarChart{
    width: 100%;
    height: 100%;
}
.goalList{
    padding: 1em;
    width: 1020px;
    height: 90%;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.collapsedGoalHeading{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#collapsedGoalHeader{
    width: 15em;
}
#collapsedGoalDescription{
    width: 5em;
}
.goalDetail{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.goalLabel{
    font-size: 18pt;
}
.goalContent{
    font-size: 18pt;
    font-weight: 200;
}
#goalProgressBar{
    width: 100%;
}
.goalDetailContainer{
    width: 15em;
}
.goalDateContainer{
    width: 20em;
}
.goalProgressBarContainer{
    width: 25em;
}

@media(max-width: 1900px){
    .expenseList{
        min-height: 15em;
        width: 75%;
        margin-bottom: 1em;
    }
    .expenseBarGraphCard{
        margin: 1em;
        width: 75%;
    }
    .budgetPieChartCard{
        width: 844px;
        height: 440px;
    }
    .goalList{
        width: 75%;
    }
    .overviewBudgetContent{
        width: 42%;
    }
    .expandedBudgetCard{
        width: 97%;
    }
    .expandedExpenseCard{
        width: 97%;
    }
}
@media(max-width: 1700px){
    .budgetPieChartCard{
        width: 700px;
        height: 440px;
    }
    .overviewBudgetContent{
        width: 50%;
    }
}
@media(max-width: 1550px){
    .budgetPieChartCard{
        height: 20em;
    }
    .overviewBudgetContent{
        width: 65%;
    }
    .expenseBarGraphCard{
        height: 400px;
    }
}
@media(max-width: 1400px){
    .budgetPieChartCard{
        height: 18em;
    }
    .goalList{
        width: 95%;
    }
    .expenseBarGraphCard{
        width: 95%;
    }
    .expenseList{
        width: 95%;
    }
    .expenseBarGraphCard{
        height: 360px;
    }
    #expenseUsage{
        display: none;
    }
}
@media(max-width: 1340px){
    .expandedBudgetCard{
        width: 95%;
    }
    .expandedExpenseCard{
        width: 95%;
    }
    .overviewBudgetContent{
        width: 64%;
    }
    .collapsedDescription{
        width: 3em;
    }
    .collapsedExpenseDescription{
        width: 3em;
    }
}
@media(max-width: 1250px){
    .expenseList{
        width: 50%;
    }
    .budgetPieChartCard{
        height: 14em;
    }
}
@media(max-width: 1200px){
    .goalProgressBarContainer{
        width: 20em;
    }
    .overviewBudgetContent{
        width: 70%;
    }
    .budgetPieChartCard{
        height: 12em;
    }
}
@media(max-width: 1160px){
    .budgetPieChartCard{
        height: 11em;
    }
}
@media(max-width: 1094px){
    .expandedBudgetCard{
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .expandedExpenseCard{
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .budgetPieChartCard{
        height: 28em;
    }
    .overviewBudgetContent{
        width: 100%;
    }
    .goalLabel{
        font-size: 16pt;
    }
    .goalContent{
        font-size: 16pt;
    }
    .goalProgressBarContainer{
        width: 15em;
    }
    .expenseList{
        width: 100%;
    }
    .arrow{
        margin-left: 0;
    }
    .collapsedArchiveHeaderItem{
        width: 8em;
    }
    .collapsedHeader{
        width: 5em;
    }
    .collapsedExpenseHeader{
        width: 8em;
    }
    .goalDateContainer{
        width: 15em;
    }
    .goalDetailContainer{
        width: 10em;
    }
}
@media(max-width: 980px){
    .expenseBarGraphCard{
        width: 700;
        height: 425px;
    }
    .expenseList{
        width: 100%;
    }
    .monthContainer{
        text-align: left;
    }
    .goalDateContainer{
        width: 10em;
    }
}
@media(max-width: 930px){
    .expandedExpenseCard{
        align-items: center;
        overflow-x: hidden;
    }
    .expenseBarGraphCard{
        width: 650px;
        height: 375px;
    }
    .collapsedArchiveHeaderItem{
        width: 6em;
    }
    .collapsedExpenseDescription{
        justify-content: center;
    }
    .profitContainer{
        width: 8em;
    }
    .profitContainer > h1{
        font-size: 18pt;
    }
}
@media(max-width: 845px){
    .expenseBarGraphCard{
        width: 620px;
        height: 350px;
    }
    .collapsedArchiveHeaderItem{
        display: none;
    }
    .collapsedExpenseHeader{
        font-size: 20pt;
    }
    .collapsedExpenseDescription{
        font-size: 14pt;
    }
}
@media(max-width: 797px){
    .budgetQuick{
        font-size: 12pt;
    }
    .goalProgressBarContainer{
        width: 10em;
    }
    .goalDetailContainer{
        width: 8em;
    }
    .goalDateContainer{
        width: 8em;
    }
    .expenseBarGraphCard{
        width: 500px;
        height: 275px;
    }
}
@media(max-width: 675px){
    .budgetPieChartCard{
        width: 500px;
        height: 320px;
    }
    .expenseBarGraphCard{
        width: 475px;
        height: 275px;
    }
}
@media(max-width: 640px){
    .collapsedDescription2{
        display: none;
    }
    .goalLabel{
        font-size: 12pt;
    }
    .goalContent{
        font-size: 12pt;
    }
    .expenseBarGraphCard{
        width: 450px;
        height: 250px;
    }
}
@media(max-width: 600px){
    .header{
        margin-left: 2em;
    }
    .budgetPieChartCard{
        width: 300px;
        height: 200px;
    }
    .expandedHeader{
        flex-direction: column;
    }
    .expandedHeader h2{
        margin-right: 0;
    }
    .expenseBarGraphCard{
        width: 400px;
        height: 220px;
    }
}
@media(max-width: 580px){
    .collapsedHeader{
        font-size: 18pt;
    }
    .collapsedExpenseHeader{
        font-size: 18pt;
    }
}
@media(max-width: 550px){
    .overviewBudgetListHeader{
        font-size: 18pt;
    }
    .overviewBudgetListDescription{
        font-size: 18pt;
    }
    .goalDetail{
        flex-direction: column;
        height: 8em;
    }
    .goalDetailContainer{
        width: 100%;
    }
    .goalProgressBarContainer{
        width: 100%;
    }
    .goalDateContainer{
        width: 100%;
    }
    .collapsedExpenseHeader{
        width: 100px;
    }
    .collapsedExpenseDescription{
        font-size: 12pt;
        width: 100px;
    }
    .collapsedItem{
        justify-content: space-between;
    }
    .expenseBarGraphCard{
        width: 340px;
        height: 175px;
    }
    .monthContainer{
        display: none;
    }
}
@media(max-width: 490px){
    .headerContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header{
        margin-left: 0;
    }
    .expandedBudgetCard{
        width: 85%;
    }
    .expandedExpenseCard{
        width: 85%;
    }
    .overviewBudgetListHeader{
        font-size: 14pt;
    }
    .overviewBudgetListDescription{
        font-size: 14pt;
    }
    .collapsedDescription{
        font-size: 12pt;
    }
    .unallocatedContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .goalList{
        width: 100%;
    }
    .collapsedExpenseDescription{
        font-size: 12pt;
    }
    .expenseBarGraphCard{
        display: none;
    }
    .expenseList{
        height: 100%;
    }
    .expandedExpenseCard{
        width: 85%;
    }
}
@media(max-width: 450px){
    .overviewBudgetListItem{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .overviewBudgetListHeader{
        width: 100%;
        text-align: center;
    }
    .overviewBudgetListDescription{
        font-size: 12pt;
        width: 100%;
        text-align: center;
    }
    .goalDetail{
        justify-content: center;
    }
    .collapsedGoalHeading{
        flex-direction: column;
    }
    .collapsedDescription{
        width: 100%;
        justify-content: flex-start;
    }
    .collapsedExpenseDescription{
        justify-content: flex-start;
        width: 100%;
    }
    .collapsedItem{
        flex-direction: column;
        justify-content: flex-start;
        height: 2.75em;
    }
    .collapsedHeader{
        text-align: left;
        width: 100%;
    }
    .collapsedExpenseHeader{
        width: 100%;
    }
}
@media(max-width: 400px){
    .collapsedHeader{
        font-size: 14pt;
    }
    .goalProgressBarContainer{
        display: none;
    }
    .collapsedExpenseHeader{
        font-size: 14pt;
    }
    .goalDetail{
        height: 20em;
    }
    .goalDetailContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .goalDateContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .goalLabel{
        text-align: center;
    }
    .goalDetail{
        text-align: center;
    }
    .goalCompleted{
        text-align: center;
    }
}
@media(max-width: 368px){
    .expandedBudgetCard{
        width: 80%;
    }
    .expandedExpenseCard{
        width: 80%;
    }
}
@media(max-width: 360px){
    .collapsedHeader{
        font-size: 12pt;
    }
    .collapsedExpenseHeader{
        font-size: 12pt;
    }
}
@media(max-width: 350px){
    .arrow{
        margin-left: -1em;
    }
    .profitContainer{
        width: 6em;
    }
    .profitContainer > h1{
        font-size: 14pt;
    }
    .budgetPieChartCard{
        width: 250px;
        height: 170px;
    }
}