<h2>Expenses</h2>
<h3 id='expenseHeader'>Add a new Expense</h3>
<div>
    <mat-form-field id='formField'>
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]='expenseTitle' name='expenseTitle'>
    </mat-form-field>
    <mat-form-field id='formField2'>
        <mat-label>Cost</mat-label>
        <input matInput type="number" [(ngModel)]='expenseAmount' name='expenseAmount'>
    </mat-form-field>
    <button mat-stroked-button *ngIf='uncategorized.length < 6; else expenseButton' (click)='addNewExpense()'>Add</button>
    <ng-template #expenseButton>
        <button mat-stroked-button disabled>Add</button>
    </ng-template>
</div>
<h4>Existing Expenses</h4>
<mat-list id='expenseListContainer'>
    <mat-list-item *ngIf="expenses.length === 0; else expenseList">
        <h4 mat-line>No Categories</h4>
    </mat-list-item>
    <mat-list-item #expenseList *ngFor='let e of expenses; let index = index;'>
        <input class='expenseListTitle' type='text' [(ngModel)]=expenses[index].title value={{e.title}}>
        <p class="expenseListAmountLabel">$</p>
        <input class='expenseListAmount' type='number' [(ngModel)]=expenses[index].used placeholder={{e.budget}}>
    </mat-list-item>
</mat-list>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="expenses">Cancel</button>
    <button mat-button [mat-dialog-close]="expenses" cdkFocusInitial>Save</button>
</mat-dialog-actions>