<mat-grid-list cols="4" rowHeight="75px">
    <mat-grid-tile rowspan='2'>
        <h1>Edit</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan='3'></mat-grid-tile>
    <mat-grid-tile colspan='3'></mat-grid-tile>
  </mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols='1' rowHeight='55em'>
    <mat-grid-tile>
        <mat-card class="editCard">
            Edit Content
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile colspan='3'></mat-grid-tile>
    <mat-grid-tile>
        <div class="btnContainer">
            <button mat-stroked-button class="editButtons">SAVE</button>
            <button mat-stroked-button class="editButtons">CANCEL</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div style="height: 10em"></div>