<div class='mainContainer'>
    <div class='contentContainer'>
        <div style='height: 5em'></div>
        <div>
            <h4>Budgeting Made Easy</h4>
            <div class='content'>
                <p>There are a lot of things in life that are complicated and time comsuming, budgeting your money should not be one of them. Answer a few questions and have all the hard work done for you. Made with young adults in mind, Penny Pinchers is built to take all of the guess work out of managing your budget and automate the process for you.</p>
                <img src="assets/img/budgeting.png" alt="" width='256' height='256'>
            </div>
        </div>
        <div>
            <h4>Visualize Your Budget</h4>
            <div class='content'>
                <p>Ditch the piles of static numbers on an excel spread sheet and see numbers come to life with charts and graphs. Visual cues make it easier for us to understand data at a glance so why not apply it to your budget. See your progress and track your financial goals to keep yourself accountable.</p>
                <img src="assets/img/visualize.png" alt="" width='256' height='256'>
            </div>
        </div>
        <div>
            <h4>Watch Your Progress</h4>
            <div class='content'>
                <p>Track your goals and your expenses with helpful visual cues. Watch your savings grow with your custom-made budget every month. An archive page is available that holds budget, expense, and goal information from previous months to review.</p>
                <img src="assets/img/Progress.png" alt="" width="256" height="256">
            </div>
        </div>
        <div class='spacer'></div>
    </div>
</div>