.cardContainer{
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
}
.cardContainer::-webkit-scrollbar{
    display: none;
}
.contentBox{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 60em;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media(max-width: 1090px){
    .cardContainer{
        width: 85%;
    }
    .contentBox{
        width: 100%;
    }
}
@media(max-width: 550px){
    .content{
        flex-direction: column-reverse;
    }
}