<mat-grid-list cols="4" rowHeight="75px">
    <mat-grid-tile rowspan='2'>
        <h1>{{selectedMonth}}, {{Year}}</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan='2'></mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="monthSelect">
            <mat-label>Month</mat-label>
            <mat-select required [(value)]="selectedMonth">
                <mat-option value={{Month}}>{{Month}} (Current Month)</mat-option>
                <mat-option *ngFor="let month of pastMonths" [value]="month">{{month}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan='2'></mat-grid-tile>
    <mat-grid-tile>
        <h4>Last Check In: &nbsp;</h4>
        <span style='font-style: italic;'> {{lastCheck}} </span>
    </mat-grid-tile>
  </mat-grid-list>
<mat-divider></mat-divider>
<mat-card class="mainContainer">
    <mat-tab-group>
        <mat-tab label='Overview'>
            <mat-grid-list cols='2' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class="overviewCard">
                        <div class='overviewHeader'>
                            <h2>Budget Overview</h2>
                        </div>
                        <div class='transactionContainer'>
                            <div class='overviewTransaction'>
                                <mat-list>
                                    <mat-list-item *ngFor='let t of positiveTransactions' class='transactionItem' id='positiveItem'>+ {{t | currency}}</mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                        <div class='chartContainer'>
                            <div class='overviewChart'>
                                <canvas #overviewPieChart id='overviewPieChart' width="1000px" height="600px"></canvas>
                            </div>
                            <div class='overviewBudgetContent'>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                            <mat-panel-title>
                                                <div class='collapsedItem'>
                                                    <div class='collapsedHeader'>
                                                        <span>Needs</span>
                                                    </div>
                                                    <div class='collapsedDescription'>
                                                        <span>{{needPercentage}}%</span>
                                                    </div>
                                                </div>   
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <h2>Categories</h2>
                                        <mat-list>
                                            <mat-list-item *ngFor="let c of needCategories">
                                                <div class='overviewBudgetListItem'>
                                                    <div class='overviewBudgetListHeader'>
                                                        <span>{{c.title}}</span>
                                                    </div>
                                                    <div></div>
                                                    <div class='overviewBudgetListDescription'>
                                                        <span>{{c.amount | currency}}</span>
                                                    </div>
                                                </div>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                            <mat-panel-title>
                                                <div class='collapsedItem'>
                                                    <div class='collapsedHeader'>
                                                        <span>Wants</span>
                                                    </div>
                                                    <div class='collapsedDescription'>
                                                        <span>{{wantPercentage}}%</span>
                                                    </div>
                                                </div>   
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <h2>Categories</h2>
                                        <mat-list>
                                            <mat-list-item *ngFor='let c of wantCategories'>
                                                <div class='overviewBudgetListItem'>
                                                    <div class='overviewBudgetListHeader'>
                                                        <span>{{c.title}}</span>
                                                    </div>
                                                    <div></div>
                                                    <div class='overviewBudgetListDescription'>
                                                        <span>{{c.amount | currency}}</span>
                                                    </div>
                                                </div>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                            <mat-panel-title>
                                                <div class='collapsedItem'>
                                                    <div class='collapsedHeader'>
                                                        <span>Saving</span>
                                                    </div>
                                                    <div class='collapsedDescription'>
                                                        <span>{{savingPercentage}}%</span>
                                                    </div>
                                                </div>   
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <h2>Categories</h2>
                                        <mat-list>
                                            <mat-list-item *ngFor="let c of savingCategories">
                                                <div class='overviewBudgetListItem'>
                                                    <div class='overviewBudgetListHeader'>
                                                        <span>{{c.title}}</span>
                                                    </div>
                                                    <div></div>
                                                    <div class='overviewBudgetListDescription'>
                                                        <span>{{c.amount | currency}}</span>
                                                    </div>
                                                </div>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="overviewCard">
                        <div class='overviewHeader'>
                            <h2>Expense Overview</h2>
                        </div>
                        <div class='transactionContainer'>
                            <div class='overviewTransaction'>
                                <mat-list>
                                    <mat-list-item *ngFor='let t of negativeTransactions' class='transactionItem' id='negativeItem'>- {{t * -1 | currency}}</mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                        <div class='chartContainer'>
                            <div class='overviewChart'>
                                <canvas #overviewBarChart id='overviewBarChart' width="1000px" height="600px"></canvas>
                            </div>
                            <div class='overviewBudgetContentBig'>
                                <mat-accordion style='margin: 1em'>
                                    <mat-expansion-panel *ngFor='let c of allCategories' class='collapsedListItem'>
                                        <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                            <mat-panel-title>
                                                <div class='collapsedItem'>
                                                    <div class='collapsedHeader'>
                                                        <span>{{c.title}}</span>
                                                    </div>
                                                    <div class='collapsedDescription'>
                                                        <span>Usage &nbsp;</span>
                                                        <span>{{c.used / c.budget | percent}}</span>
                                                    </div>
                                                </div>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-list>
                                            <mat-list-item>
                                                <div class='overviewBudgetListItem'>
                                                    <div class='overviewBudgetListHeader'>
                                                        <span>Budget</span>
                                                    </div>
                                                    <div></div>
                                                    <div class='overviewBudgetListDescription'>
                                                        <span>{{c.budget | currency}}</span>
                                                    </div>
                                                </div>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <div class='overviewBudgetListItem'>
                                                    <div class='overviewBudgetListHeader'>
                                                        <span>Used</span>
                                                    </div>
                                                    <div></div>
                                                    <div class='overviewBudgetListDescription'>
                                                        <span>{{c.used | currency}}</span>
                                                    </div>
                                                </div>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label='Budget' >
            <mat-grid-list cols='1' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class="budgetCard">
                        <!--How much can I save?
                        How much should I save?
                        How much can I spend?
                        Do I have enough room for special occasions or emergencies?
                        How much do I want to save?-->
                        <div class='budgetHeaderContainer'>
                            <div class="budgetHeader1">
                                <span class='budgetHeader'>Available Budget: &nbsp;</span>
                                <span class='budgetHeader'>{{budgetAmount | currency}}</span><br>
                                <span class='budgetSubheader'>Allocated Budget: &nbsp;</span>
                                <span class='budgetSubheader'>{{budgetAllocated | currency}}</span>
                            </div>
                            <div class='budgetHeader2'>
                                <div class='arrow'>
                                   <mat-icon *ngIf='budgetAmount - budgetAllocated > 0; else secondCheck' id='positiveTrend'>keyboard_arrow_up</mat-icon>
                                    <ng-template #secondCheck><mat-icon *ngIf='budgetAmount - budgetAllocated < 0; else thirdCheck' id='negativeTrend'>keyboard_arrow_down</mat-icon></ng-template>
                                    <ng-template #thirdCheck><mat-icon id='noTrend'>remove</mat-icon></ng-template>
                                </div>
                                <div class='budgetSavings'>
                                    <span *ngIf="budgetAmount - budgetAllocated > 0; else checkBudgetSaving2">+ {{budgetAmount - budgetAllocated | currency}}</span>
                                    <ng-template #checkBudgetSaving2>
                                        <span *ngIf="budgetAmount - budgetAllocated < 0; else checkBudgetSaving3">- {{budgetAmount - budgetAllocated | currency}}</span>
                                    </ng-template>
                                    <ng-template #checkBudgetSavings3>
                                        <span>{{budgetAmount - budgetAllocated | currency}}</span>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class='budgetMainContainer'>
                            <div class="budgetChart">
                                <mat-card class='budgetPieChartCard'>
                                    <canvas #budgetPieChart id='budgetPieChart' width="1000px" height="650px"></canvas>
                                </mat-card>
                            </div>
                            <div class="budgetCategories">
                                <div class='overviewBudgetContent'>
                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                <mat-panel-title>
                                                    <div class='collapsedItem'>
                                                        <div class='collapsedHeader'>
                                                            <span>Needs</span>
                                                        </div>
                                                        <div class='collapsedDescription'>
                                                            <span>50%</span>
                                                        </div>
                                                        <div class='collapsedDescription2'>
                                                            <span>{{budgetAllocated * 0.5 | currency}}</span>
                                                        </div>
                                                    </div>   
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class='expandedHeader'>
                                                <h2>Categories</h2>
                                                <mat-chip-list>
                                                    <mat-chip>Add a New Needs Category +</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                            <mat-list>
                                                <mat-list-item *ngFor='let c of needCategories'>
                                                    <div class='overviewBudgetListItem'>
                                                        <div class='overviewBudgetListHeader'>
                                                            <span>{{c.title}}</span>
                                                        </div>
                                                        <div></div>
                                                        <div class='overviewBudgetListDescription'>
                                                            <span>{{c.amount | currency}}</span>
                                                        </div>
                                                    </div>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                <mat-panel-title>
                                                    <div class='collapsedItem'>
                                                        <div class='collapsedHeader'>
                                                            <span>Wants</span>
                                                        </div>
                                                        <div class='collapsedDescription'>
                                                            <span>30%</span>
                                                        </div>
                                                        <div class='collapsedDescription2'>
                                                            <span>{{budgetAllocated * 0.3 | currency}}</span>
                                                        </div>
                                                    </div>   
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class='expandedHeader'>
                                                <h2>Categories</h2>
                                                <mat-chip-list>
                                                    <mat-chip>Add a New Wants Category +</mat-chip>
                                                </mat-chip-list>
                                            </div>                                            <mat-list>
                                                <mat-list-item *ngFor='let c of wantCategories'>
                                                    <div class='overviewBudgetListItem'>
                                                        <div class='overviewBudgetListHeader'>
                                                            <span>{{c.title}}</span>
                                                        </div>
                                                        <div></div>
                                                        <div class='overviewBudgetListDescription'>
                                                            <span>{{c.amount | currency}}</span>
                                                        </div>
                                                    </div>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                <mat-panel-title>
                                                    <div class='collapsedItem'>
                                                        <div class='collapsedHeader'>
                                                            <span>Saving</span>
                                                        </div>
                                                        <div class='collapsedDescription'>
                                                            <span>20%</span>
                                                        </div>
                                                        <div class='collapsedDescription2'>
                                                            <span>{{budgetAllocated * 0.2 | currency}}</span>
                                                        </div>
                                                    </div>   
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class='expandedHeader'>
                                                <h2>Categories</h2>
                                                <mat-chip-list>
                                                    <mat-chip>Add a New Saving Category +</mat-chip>
                                                </mat-chip-list>
                                            </div>                                            <mat-list>
                                                <mat-list-item *ngFor='let c of savingCategories'>
                                                    <div class='overviewBudgetListItem'>
                                                        <div class='overviewBudgetListHeader'>
                                                            <span>{{c.title}}</span>
                                                        </div>
                                                        <div></div>
                                                        <div class='overviewBudgetListDescription'>
                                                            <span>{{c.amount | currency}}</span>
                                                        </div>
                                                    </div>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Expenses">
            <mat-grid-list cols='1' rowHeight='37em'>
                <mat-grid-tile>
                    <mat-card class="spendingCard">
                        <!--What am I spending money on?
                        What recurring payments am I making?
                        What are my largest transactions?
                        Can I afford this lifestyle?
                        Am I spending more than I can save?
                        What do I need to spend money on?-->
                        <div>
                            <mat-list>

                            </mat-list>
                        </div>
                        <div class='budgetHeader2'>
                            <div class='arrow'>
                               <mat-icon *ngIf='budgetAmount - budgetAllocated > 0; else secondCheck' id='positiveTrend'>keyboard_arrow_up</mat-icon>
                                <ng-template #secondCheck><mat-icon *ngIf='budgetAmount - budgetAllocated < 0; else thirdCheck' id='negativeTrend'>keyboard_arrow_down</mat-icon></ng-template>
                                <ng-template #thirdCheck><mat-icon id='noTrend'>remove</mat-icon></ng-template>
                            </div>
                            <div class='budgetSavings'>
                                <span *ngIf="budgetAmount - budgetAllocated > 0; else checkBudgetSaving2">+ {{budgetAmount - budgetAllocated | currency}}</span>
                                <ng-template #checkBudgetSaving2>
                                    <span *ngIf="budgetAmount - budgetAllocated < 0; else checkBudgetSaving3">- {{budgetAmount - budgetAllocated | currency}}</span>
                                </ng-template>
                                <ng-template #checkBudgetSavings3>
                                    <span>{{budgetAmount - budgetAllocated | currency}}</span>
                                </ng-template>
                            </div>
                        </div>
                        <div class='expenseMainContainer'>
                            <div class='expenseCategories'>
                                <div class='expenseAddContainer'>
                                    <mat-chip-list>
                                        <mat-chip>Add a New Expense +</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div class='overviewBudgetContentBig'>
                                    <mat-accordion style='margin: 1em;'>
                                        <mat-expansion-panel *ngFor='let c of allCategories' class='collapsedListItem'>
                                            <mat-expansion-panel-header collapsedHeight='75px' expandedHeight='75px'>
                                                <mat-panel-title>
                                                    <div class='collapsedItem'>
                                                        <div class='collapsedHeader'>
                                                            <span>{{c.title}}</span>
                                                        </div>
                                                        <div class='collapsedDescription'>
                                                            <span>Usage &nbsp;</span>
                                                            <span>{{c.used / c.budget | percent}}</span>
                                                        </div>
                                                    </div>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <mat-list>
                                                <mat-list-item>
                                                    <div class='overviewBudgetListItem'>
                                                        <div class='overviewBudgetListHeader'>
                                                            <span>Budget</span>
                                                        </div>
                                                        <div></div>
                                                        <div class='overviewBudgetListDescription'>
                                                            <span>{{c.budget | currency}}</span>
                                                        </div>
                                                    </div>
                                                </mat-list-item>
                                                <mat-list-item>
                                                    <div class='overviewBudgetListItem'>
                                                        <div class='overviewBudgetListHeader'>
                                                            <span>Used</span>
                                                        </div>
                                                        <div></div>
                                                        <div class='overviewBudgetListDescription'>
                                                            <span>{{c.used | currency}}</span>
                                                        </div>
                                                    </div>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                            <div class='expenseChart'>
                                <mat-card class='expenseBarChartCard'>
                                    <canvas #expenseBarChart id='expenseBarChart' width="1000px" height="800px"></canvas>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<div style="height: 8em;"></div>