.monthSelect{
    margin-top: 2em;
    width: 20em;
}
.mainContainer{
    margin: 2em;
    height: 40em;
}
.overviewCard{
    margin: 1em;
    height: 33em;
    width: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.overviewCard::-webkit-scrollbar{
    display: none;
}
.overviewHeader{
    margin-left: 1em;
}
.budgetCard{
    margin: 1em;
    height: 33em;
    width: 100%;
}
.spendingCard{
    margin: 1em;
    height: 33em;
    width: 100%;
}
.transactionContainer{
    height: 210px;
    display: flex;
    justify-content: center;
}
.overviewTransaction{
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #616161;
    height: 100%;
    width: 350px;
    overflow: hidden;
    
}
.transactionItem{
    padding-left: 2em;
    font-size: 24pt;
}
.transactionItem:nth-child(even){
    background-color: #3C3C3C;
}
.transactionItem:nth-last-child(1){
    padding-bottom: 10px;
}
#positiveItem{
    color: #AFFF64;
}
#negativeItem{
    color: #FF6464;
}
.chartContainer{
    margin-top: 2em;
    height: 45em;
}
.overviewChart{
    margin: 1em;
    height: 30em;
}#overviewPieChart{
    width: 100%;
    height: 100%;
}
.overviewBudgetContent{
    margin-bottom: 1em;
}
.collapsedHeader{
    width: 400px;
    font-size: 24pt;
    font-weight: 200;
}
.collapsedDescription{
    font-size: 14pt;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overviewBudgetListItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overviewBudgetListHeader{
    font-size: 22pt;
    font-weight: 200;
}
.overviewBudgetListDescription{
    font-size: 22pt;
    text-align: right;
}