.mainContainer{
    margin: 2em;
    height: 40em;
}
.homeHeaderContainer{
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}
.homeHeader1{
    margin-left: 8em;
}
.homeHeader2{
    margin-right: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkDateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.overviewContainer{
    display: flex;
    flex-direction: row;
    width: 114em;
    height: 37em;
}
.overviewCard{
    margin: 1em;
    height: 33em;
    width: 50%;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.overviewCard::-webkit-scrollbar{
    display: none;
}
.overviewHeader{
    margin-left: 1em;
}
.budgetCard{
    margin: 1em;
    height: 33em;
    width: 1728px;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.budgetCard::-webkit-scrollbar{
    display: none;
}
.spendingCard{
    margin: 1em;
    height: 33em;
    width: 1792px;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.spendingCard::-webkit-scrollbar{
    display: none;
}
.transactionContainer{
    height: 210px;
    display: flex;
    justify-content: center;
}
.overviewTransaction{
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #616161;
    height: 100%;
    width: 350px;
    overflow: hidden;
}
.transactionItem{
    padding-left: 2em;
    font-size: 24pt;
}
.transactionItem:nth-child(even){
    background-color: #3C3C3C;
}
.transactionItem:nth-last-child(1){
    padding-bottom: 10px;
}
#positiveItem{
    color: #AFFF64;
}
#negativeItem{
    color: #FF6464;
}
.chartContainer{
    margin-top: 2em;
    height: 45em;
}
.overviewChart{
    margin: 1em;
    height: 30em;
}
#overviewPieChart{
    width: 100%;
    height: 100%;
}
.overviewBudgetContent{
    margin-bottom: 1em;
}
.overviewBudgetContentBig{
    height: 18em;
    overflow-y: auto;
    -ms-overflow-style: none;
    padding: 0.5em;
}
.overviewBudgetContentBig::-webkit-scrollbar{
    scrollbar-width: thin;
}
.collapsedHeader{
    width: 300px;
    font-size: 24pt;
    font-weight: 200;
}
.collapsedDescription{
    width: 150px;
    font-size: 14pt;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapsedDescription2{
    width: 150px;
    font-size: 14pt;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapsedItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overviewBudgetListItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overviewBudgetListHeader{
    font-size: 22pt;
    font-weight: 200;
    width: 20em;
}
.overviewBudgetListDescription{
    font-size: 22pt;
    text-align: right;
    width: 8em;
}
.budgetHeader{
    font-size: 40pt;
    font-weight: 200;
}
.budgetHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}
.budgetHeader1{
    text-align: right;
    width: 690px;
}
.budgetSubheader{
    font-size: 32pt;
    font-weight: 400;
}
.budgetMainContainer{
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: row;
}
.budgetChart{
    height: 100%;
    width: 45%;
}
.budgetCategories{
    height: 100%;
    width: 55%;
}
.budgetPieChartCard{
   margin: 1em;
   margin-top: 0;
   height: 30em;
}
.budgetHeader2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.arrow{
    width: 5em;
}
.budgetSavings{
    font-size: 40pt;
}
#budgetPieChart{
    width: 100%;
    height: 100%;
}
#overviewBarChart{
    width: 100%;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
#positiveTrend{
    font-size: 70pt;
    color: #AFFF64;
}
#negativeTrend{
    font-size: 70pt;
    color: #FF6464;
}
#noTrend{
    font-size: 70pt;
    color: #FFF864;
}
#date{
    font-style: italic;
    margin-left: 0.5em;
}
.expenseMainContainer{
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: row-reverse;
}
.expenseCategories{
    width: 40%;
    height: 95%;
}
.expenseAddContainer{
    height: 6%;
}
.expenseChart{
    width: 60%;
    height: 100%;
}
.expenseBarChartCard{
    margin: 1em;
    margin-top: 0;
    height: 35em;
}
#expenseBarChart{
    width: 100%;
    height: 100%;
}
.expandedHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.expandedHeader h2{
    margin-right: 1em;
}
.expandedHeader mat-chip-list{
    margin-right: 1em;
}
#unallocatedHeading{
    font-size: 12pt;
}
#unallocatedAmt{
    font-size: 12pt;
    font-weight: 500;
}
#expenseList{
    height: 35em;
    overflow-y: auto;
    -ms-overflow-style: none;
    padding: 0.5em;
}
#editBudgetChip{
    margin-bottom: 1.5em;
}

@media(max-width: 1900px){
    .budgetChart{
        width: 45em;
    }
    .budgetPieChartCard{
        height: 26em;
    }
    .overviewContainer{
        width: 100%;
    }
}
@media(max-width: 1700px){
    .budgetPieChartCard{
        height: 25em;
    }
    .overviewChart{
        height: 28em;
    }
}
@media(max-width: 1550px){
    .budgetPieChartCard{
        height: 20em;
    }
    .overviewChart{
        height: 24em;
    }
    .overviewBudgetContent{
        margin-top: 5em;
    }
}
@media(max-width: 1400px){
    .budgetPieChartCard{
        height: 18em;
    }
    .budgetHeader{
        font-size: 32pt;
    }
    .budgetSubheader{
        font-size: 24pt;
    }
    .budgetSavings{
        font-size: 32pt;
    }
    .budgetHeader1{
        width: 37em;
    }
    #expenseUsage{
        display: none;
    }
    .expenseBarChartCard{
        height: 28em;
    }
}
@media(max-width: 1340px){
    .collapsedHeader{
        width: 5em;
    }
    .collapsedDescription{
        width: 3em;
    }
    .expenseChart{
        width: 55%;
    }
    .expenseCategories{
        width: 45%;
    }
    .overviewChart{
        height: 20em;
    }
    #overviewUsage{
        display: none;
    }
}
@media(max-width: 1200px){
    .overviewBudgetContent{
        margin-top: 0;
    }
    .overviewChart{
        height: 32em;
    }
    .overviewCard{
        overflow-y: visible;
        height: auto;
        width: 90%;
    }
    .overviewContainer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        height: 36em;
    }
    .overviewBudgetContent{
        height: 11em;
        padding: 0.5em;
        overflow-y: auto;
    }
    .overviewBudgetContentBig{
        height: 11em;
    }
}
@media(max-width: 1160px){
    .budgetPieChartCard{
        height: 16em;
    }
    .expenseBarChartCard{
        height: 24em;
    }
}
@media(max-width: 1080px){
    .budgetHeaderContainer{
        flex-direction: column;
        align-items: center;
    }
    .expenseMainContainer{
        flex-direction: column;
        align-items: center;
    }
    .budgetHeader1{
        width: 100%;
        text-align: center;
    }
    .budgetMainContainer{
        flex-direction: column;
        align-items: center;
    }
    .budgetChart{
        width: 100%;
    }
    .budgetPieChartCard{
        height: 26em;
    }
    .budgetCategories{
        width: 100%;
    }
    .expenseChart{
        width: 100%;
    }
    .expenseBarChartCard{
        height: 28em;
    }
    .expenseCategories{
        width: 100%;
    }
    .overviewChart{
        height: 28em;
    }
    .overviewBudgetContent{
        height: 14em;
    }
    .overviewBudgetContentBig{
        height: 14em;
    }
}
@media(max-width: 920px){
    .budgetPieChartCard{
        height: 25em;
    }
    .expenseBarChartCard{
        height: 25em;
    }
    .overviewChart{
        height: 24em;
    }
    .overviewBudgetContent{
        height: 19em;
    }
    .overviewBudgetContentBig{
        height: 19em;
    }
}
@media(max-width: 800px){
    .budgetPieChartCard{
        height: 20em;
    }
    .expenseBarChartCard{
        height: 22em;
    }
    .overviewChart{
        height: 22em;
    }
    .overviewBudgetContent{
        height: 20em;
    }
    .overviewBudgetContentBig{
        height: 20em;
    }
}
@media(max-width: 732px){
    .budgetHeader{
        font-size: 24pt;
    }
    .budgetSubheader{
        font-size: 20pt;
    }
    .budgetSavings{
        font-size: 24pt;
    }
    .expandedHeader{
        flex-direction: column;
        justify-content: center;
    }
    .expandedHeader > h2{
        margin-right: 0;
    }
    .expandedHeader > mat-chip-list{
        margin-right: 0;
    }
    .unallocatedContainer{
        padding-top: 1em;
    }
    .expenseBarChartCard{
        height: 21em;
    }
}
@media(max-width: 690px){
    .homeHeader1{
        margin-left: 2em;
    }
    .budgetPieChartCard{
        height: 17em;
    }
    .expenseBarChartCard{
        height: 18em;
    }
    .overviewChart{
        height: 18em;
    }
    .overviewBudgetContent{
        height: 24em;
    }
    .overviewBudgetContentBig{
        height: 24em;
    }
}
@media(max-width: 580px){
    .checkDateContainer{
        flex-direction: column;
        justify-content: center;
    }
    #date{
        margin-left: 0;
    }
    .homeHeaderContainer{
        height: 15em;
    }
    .budgetPieChartCard{
        height: 12em;
    }
    .collapsedHeader{
        font-size: 18pt;
    }
    .collapsedDescription{
        font-size: 12pt;
    }
    .collapsedDescription2{
        font-size: 12pt;
    }
    .budgetHeader{
        font-size: 18pt;
    }
    .budgetSubheader{
        font-size: 14pt;
    }
    .budgetSavings{
        font-size: 14pt;
    }
    .overviewBudgetListHeader{
        font-size: 18pt;
        width: 10em;
    }
    .overviewBudgetListDescription{
        font-size: 18pt;
    }
    .expenseBarChartCard{
        display: none;
    }
    .expenseChart{
        display: none;
    }
    #overviewBarChartDiv{
        display: none;
    }
    .overviewBudgetContentBig{
        height: 43em;
    }
    .overviewChart{
        height: 14em;
    }
    .overviewBudgetContent{
        height: 28em;
    }
    .transactionItem{
        font-size: 20pt;
    }
    .overviewTransaction{
        width: 85%;
    }
}
@media(max-width: 496px){
    .homeHeaderContainer{
        flex-direction: column;
        align-items: center;
    }
    .homeHeader1{
        margin-left: 0;
    }
    .homeHeader2{
        margin-right: 0;
    }
    .homeHeaderContainer{
        height: 12em;
        justify-content: flex-start;
    }
    .collapsedDescription2{
        display: none;
    }
    .budgetChart{
        width: 30em;
    }
    .budgetPieChartCard{
        height: 15em;
    }
    .overviewBudgetListHeader{
        font-size: 16pt;
    }
    .overviewBudgetListDescription{
        font-size: 16pt;
    }
    .overviewChart{
        height: auto;
    }
    .overviewBudgetContent{
        height: 30em;
    }
    .overviewTransaction{
        width: 95%;
    }
}
@media(max-width: 450px){
    .budgetHeader{
        font-size: 14pt;
    }
    .budgetSubheader{
        font-size: 12pt;
    }
    .budgetHeader2{
        flex-direction: column;
    }
    .arrow{
        height: 4.5em;
    }
    .budgetSavings{
        font-size: 12pt;
    }
    .overviewBudgetListItem{
        flex-direction: column;
    }
    .overviewBudgetListHeader{
        width: 100%;
        text-align: center;
    }
    .overviewBudgetListDescription{
        width: 100%;
        text-align: center;
    }
    .collapsedItem{
        flex-direction: column;
        justify-content: flex-start;
    }
    .collapsedHeader{
        text-align: left;
        width: 100%;
    }
    .collapsedDescription{
        justify-content: flex-start;
        width: 100%;
    }
    .expenseCategories{
        justify-content: center;
        align-items: center;
    }
    .expenseModal{
        width: 100%;
        text-align: right;
    }
}
@media(max-width: 434px){
    .modalButton{
        font-size: 8pt;
    }
    .expenseModal{
        font-size: 10pt;
    }
    .overviewCard{
        width: 85%;
    }
}
@media(max-width: 400px){
    .budgetChart{
        width: 20em;
    }
    .budgetPieChartCard{
        height: 10em;
    }
    .budgetMainContainer{
        height: 30em;
    }
    .collapsedHeader{
        font-size: 14pt;
    }
    .unallocatedContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #unallocatedHeading{
        padding-left: 0.75em;
    }
    .modalButton{
        height: 5em;
        text-align: center;
    }
    .transactionItem{
        font-size: 16pt;
    }
}
@media(max-width: 360px){
    .collapsedHeader{
        font-size: 12pt;
    }
    .expenseModal{
        font-size: 8pt;
    }
    .overviewHeader{
        margin-left: 0;
    }
}
@media(max-width: 337px){
    .modalButton{
        height: 7em;
    }
    .transactionItem{
        font-size: 14pt;
    }
    .overviewCard{
        width: 80%;
    }
}