.registerCard{
    width: 850px;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.registerHeader{
    font-size: 26pt;
}
.registerContent{
    flex-grow: 1;
    position: relative;
}
.registerContainer{
    position: relative;
    overflow-x: auto;
}
.registerForm{
    width: 85%;
    font-size: 16pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.registerForm mat-form-field{
    width: 100%;
}
.registerButtons{
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}
.registerButtons button{
    margin: 0;
    width: 100%;
    font-size: 12pt;
}
.passwordHintCard{
    width: 200px;
    height: auto;
    margin-right: 2em;
    
}
.passwordHintContainer{
    display: flex;
    height: auto;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: -1;
}
.crossMark{
    font-size: 12pt;
}
.checkMark{
    color: #8BEC7E;
    font-size: 14pt;
}
@media(max-width: 976px){
    .registerCard{
        width: 85%;
        height: 450px;
    }
}
