<!--<mat-grid-list cols="4" rowHeight="75px">
    <mat-grid-tile rowspan='2'>
        <h1>Settings</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan='3'></mat-grid-tile>
    <mat-grid-tile colspan='3'></mat-grid-tile>
  </mat-grid-list>
<mat-divider></mat-divider>-->
<mat-grid-list cols='1' rowHeight='36em'>
    <mat-grid-tile>
        <mat-card class="settingsCard">
            <div class="settingsContent">
                <h1 id="titleHeader">Settings</h1>
                <mat-divider></mat-divider>
                <h2 class='subHeader'>Change Password</h2>
                <form class="passwordForm">
                    <mat-form-field>
                        <mat-label>Old Password</mat-label>
                        <input matInput type="text" required>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput type="text" required><br>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="text" required>
                    </mat-form-field>
                </form>
                <mat-divider></mat-divider>
                <button mat-flat-button color="warn" id="deleteAccountButton">Delete Account</button>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile colspan='3'></mat-grid-tile>
    <mat-grid-tile>
        <div class="btnContainer">
            <button mat-stroked-button class="settingsButtons">SAVE</button>
            <button mat-stroked-button class="settingsButtons">CANCEL</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div style="height: 10em"></div>