.settingsCard{
    margin: 1em;
    height: 35em;
    width: 100%;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    width: 14em;
    height: 2.5em;
    position: absolute;
    right: 1em;
    justify-content: space-between;
}
.settingsButtons{
    width: 100px;
}
.settingsContent{
    height: 100%;
    width: 100%;
}
.passwordForm{
    margin: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
#changePasswordButton{
    margin: 2em;
}
#deleteAccountButton{
    width: 35%;
    left: 50%;
    transform: translateX(-50%);
    margin: 2em 0;
}
#titleHeader{
    margin: 1em;
    margin-left: 2em;
}
.subHeader{
    margin-top: 2em;
}
.budgetSettings{
    margin-bottom: 2em;
}
.passwordHintContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.crossMark{
    font-size: 12pt;
}
.checkMark{
    color: #8BEC7E;
    font-size: 12pt;
}
@media(max-width: 1500px){
    .passwordHintContainer{
        flex-direction: column;
        justify-content: center;
    }
    .settingsCard{
        height: 40em;
    }
}
@media(max-width: 427px){
    #deleteAccountButton{
        width: 65%;
    }
    #titleHeader{
        margin-left: 0;
    }
}
@media(max-width: 402px){
    .settingsCard{
        height: 45em;
    }
}